#activityTable {
    margin-top: 20px;
    font: 12px/1.5 Tahoma,Arial,"\5b8b\4f53",sans-serif
}


#activityTable .name {
    padding: 2px 3px;
	width: 150px;
	border-bottom: 1px dotted #aaa;
}

#activityTable .location,#activityTable .intro,#activityTable .notice,#activityTable .countesy-reminder {
    height: 40px;
	line-height: 20px;
	letter-spacing: 1px;
	white-space: normal;
}

#activityTable .location,#activityTable .notice,#activityTable .countesy-reminder {
	width: 100px;
}

#activityTable .intro {
    width: 150px;
}

#activityTable .subject {
    width: 90px;
	white-space: normal;
	height: 40px;
}

#activityTable .oper-box {
    position: relative;
}

#activityTable .oper-box .btn-list {
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid #c4c4c4;
    width: 80px;
    text-align: center;
    border-radius: 3px 3px;
    background: #f1f1f1;
    z-index: 999;
}

#activityTable .oper-box .btn-list li {
    line-height: 18px;
    border-bottom: 1px solid #E9E9E9;
}
#activityTable .oper-box .btn-list li:hover {
    background-color: #F99236;
}

#activityTable .oper-box .btn-list li.head {
    background-color: #e1e1e1;
}

#activityTable .down-icon {
    display: inline-block;
    height: 10px;
    width: 14px;
    background: url(../images/updown.png) no-repeat scroll 3px -36px;
}