.main-box {
    margin-top: 20px;
    font: 12px  'songti','Microsoft Yahei',Arial;
}

.main-box .activity-box {

}

.main-box .content-box ul {
    float: left;
    min-height: 300px;
}

.main-box .content-box .btn-box {
    float: left;
    margin-top: 20px;
}

.main-box .content-box ul li {
    float: left;
    width: 100%;
	margin-bottom: 10px;
    line-height: 20px;
}

.main-box .content-box ul li  .lbl {
    float: left;
	width: 70px;
	line-height: 30px;
	font-weight: bold;
}
.main-box .content-box ul li  .left-div {
    width: 280px;
}

.main-box .content-box ul li input {
	padding: 3px 4px;
}

.main-box .content-box ul li input.width1 {
    width: 150px;
}

.main-box .content-box ul li input.width2 {
    width: 170px;
}

.main-box .content-box ul li input.width3 {
    width: 430px;
}

.main-box .content-box ul li select[name='subjectId'] {
    width: 170px;
	line-height: 20px;
	padding: 3px 4px;
}

.main-box .content-box ul li  input[name='gmtPublish'] {
    width: 170px;
	padding: 3px 4px;
}

.main-box .content-box ul li  input[name='sourceUrl'] {
    width: 400px;
	padding: 3px 4px;
}

.main-box .content-box ul li  textarea {
    width: 430px;
	height: 100px;
	padding: 3px 4px;
}

.main-box .content-box ul li  textarea.notice,
.main-box .content-box ul li  textarea.countesy-reminder {
    height: 60px;
}

.bops form  input[type='submit'] {
    font-size: 14px;
	font-weight: bold;
	padding: 5px 15px;
	margin-left: 200px;
	letter-spacing: 4px;
}

#activityForm label.error {
    margin-left: 5px;
	color: red;
}