.main-box {
    margin-top: 20px;
    font: 12px  'songti','Microsoft Yahei',Arial;
}

.pic-upload-layer {
    position: absolute;
    width: 400px;
	background-color: #fff;
	border: 3px solid #ddd;
	border-radius: 4px;
	z-index: 999;
}

.pic-upload-layer .header {
    height: 30px;
	width: 100%;
	background-color: #eee;
	line-height: 30px;
	font-weight: bold;
}

.pic-upload-layer .content {
    padding: 5px 10px;
}

.pic-upload-layer .content .tip {
    margin-bottom: 10px;
}

.pic-upload-layer .content .url-pic {
    padding-top: 10px;
	padding-bottom: 20px;
}

.pic-upload-layer .content .local-pic {
    border-top: 2px solid #999;
    padding-top: 10px;
	padding-bottom: 20px;
}

.pic-upload-layer .content input[type="text"],
.pic-upload-layer .content input[type="file"] {
    padding: 2px 4px;
	width: 320px;
}

.pic-upload-layer .content .confirm-btn {
    padding: 5px 7px;
	letter-spacing: 4px;
}

.main-box .activity-box {

}

.main-box .pic-box {
    position: absolute;
	width: 400px;
}

.main-box .pic-box .picture {
	width: 300px;
	height: 300px;
	overflow: hidden;
	border: 1px solid #999999;
}

.main-box .pic-box .picture img {
    width: 300px;
	height: 300px;
}

.main-box .pic-box .top-box .pics {
    padding: 0 0;
	margin-left: 10px;
	width: 40px;
}

.main-box .pic-box .pictures li {
    float: left;
    display: inline;
}

.main-box .pic-box .pictures li a {
	width: 40px;
	height: 40px;
	background-color: yellow;
	display: inline-block;
}

.main-box .pic-box .top-box .pics li a {
	margin-top: 10px;
}

.main-box .pic-box .pictures li.active a {
    border: 2px solid red;
	width: 36px;
	height: 36px;
}

.main-box .pic-box .bottom-box .stand-pics {
    height: 40px;
	margin-top: 10px;
	padding: 0 0;
}

.main-box .pic-box .bottom-box .stand-pics li a {
	margin-left: 10px;
}

.main-box .pic-box .bottom-box .stand-pics li.active a {
    border: 2px solid red;
	width: 36px;
	height: 36px;
}

.main-box .content-box {
    float: left;
    margin-left: 410px;
	width: 500px;
	min-height: 400px;
}

.main-box .content-box ul {

}

.main-box .content-box ul li {
    float: left;
    width: 100%;
	margin-top: 10px;
    line-height: 20px;
}

.main-box .content-box ul li  .lbl {
    float: left;
	width: 60px;
	line-height: 30px;
	font-weight: bold;
}
.main-box .content-box ul li  .left-div {
    width: 280px;
}

.main-box .content-box ul li  input {
	padding: 3px 4px;
}

.main-box .content-box ul li  input.width1 {
    width: 150px;
}

.main-box .content-box ul li  input.width2 {
    width: 190px;
}

.main-box .content-box ul li  input.width3 {
    width: 430px;
}

.main-box .content-box ul li  select[name='categoryId'] {
    width: 120px;
	line-height: 20px;
	padding: 3px 4px;
}

.main-box .content-box ul li  input[name='gmtPublish'] {
    width: 170px;
	padding: 3px 4px;
}

.main-box .content-box ul li  input[name='sourceUrl'] {
    width: 400px;
	padding: 3px 4px;
}

.main-box .content-box ul li  textarea {
    width: 430px;
	height: 100px;
	line-height: 20px;
	letter-spacing: 1px;
	padding: 3px 4px;
}

.main-box .content-box ul li  textarea.notice,
.main-box .content-box ul li  textarea.countesy-reminder {
    height: 60px;
}

.main-box .content-box ul li  input[type='submit'] {
    font-size: 14px;
	font-weight: bold;
	padding: 5px 15px;
	margin-left: 200px;
	margin-top: 20px;
	letter-spacing: 4px;
}