
.icon-pull-down,.icon-pull-up {
	background-image: url(../images/updown.png);
	background-repeat: no-repeat;
	background-color: transparent;
	display: inline-block;
}


.layer_tips .arrow_up,.layer_tips .arrow_down,.layer_tips .arrow_left,.layer_tips .arrow_right
	{
	background-image: url(../img/layer_arrow.png);
	background-repeat: no-repeat;
	background-color: transparent;
	display: inline-block;
}

.W_close_color,.W_close_color:hover {
	background: url("../img/layer_tip_newico.png") no-repeat scroll 0 -38px
		transparent;
	display: inline-block;
	height: 7px;
	overflow: hidden;
	width: 7px;
}

.angle-right {
	background-image: url(../images/angle_right.png);
	display: inline-block;
	background-repeat: no-repeat;
	overflow: hidden;
	background-color: transparent;
}

.angle-top {
	background-image: url(../images/angle_top.png);
	display: inline-block;
	background-repeat: no-repeat;
	overflow: hidden;
	background-color: transparent;
}

.angle-down {
	background-image: url(../images/angle_down.png);
	display: inline-block;
	background-repeat: no-repeat;
	overflow: hidden;
	background-color: transparent;
}

.memo-icon ,
.clock-icon , 
.money-icon ,
.person-icon ,
.info-icon ,
.close-icon,
.delete-icon,
.wangwang-icon {
	background: url(../images/flags.png);
	display: inline-block;
}

.err-icon , 
.ok-icon {
	background: url(../images/ico-pa.png);
	display: inline-block;
}

.start-icon ,
.end-icon{
	background: url(images/flags.png);
	display: inline-block;
}

.parent-icon , 
.order-icon,
.code-icon {
	background: url(../img/flags_new.png);
	display: inline-block;
}

.L {
	float: left;
}

.R {
	float: right;
}

.TAL {
	text-align: left;
}

body {
	font: 12px normal;
	witdh: 100%;
}

ul {
	margin: 0;
	padding: 0;
}

ol,ul {
	list-style: none outside none;
}

.darkGray {
	color: #555555;
}

.dc-yellow {
	color: #F37800;
}

.dc-red {
	color: #F44;
}

.dc-green {
	color: #53A000;
}

.dc-blue {
	color: #08C;
}

.dc-gray {
	color: #666;
}

.dc-light-gray {
	color: #aaa;
}

.dc-light-light-gray {
	color: #ccc;
}

.F12 {
	font-size: 12px;
}

.F14 {
	font-size: 14px;
}

.F16 {
	font-size: 16px;
}

.MT20 {
	margin-top: 20px;
}

.MT10 {
	margin-top: 10px;
}

.MB20 {
	margin-bottom: 20px;
}

.MB10 {
	margin-bottom: 10px;
}

.ML10 {
	margin-left: 10px;
}

.ML20 {
	margin-left: 20px;
}

.MR20 {
	margin-right: 20px;
}

.MR10 {
	margin-right: 10px;
}

.MR5 {
	margin-right: 5px;
}

.ML5 {
	margin-left: 5px;
}

.MT5 {
	margin-top: 5px;
}

.MB5 {
	margin-bottom: 5px;
}

.dd-hide {
	display: none;
}

i.yen {
	font-family: arial ;
	font-style: normal; 
}

.ipt40 {
	width:40px;
}

.ipt60 {
	width:60px;
}

.ipt80 {
	width:80px;
}

.ipt100 {
	width:100px;
}

.shadow-bg {
	position: absolute;
	z-index: 99;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	_width: expression(document.documentElement.clientWidth);
	_height: expression(document.documentElement.clientHeight);
	background: rgb(50, 50, 50);
	background: rgba(0, 0, 0, 0.5);
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.bops {
	float: left;
	text-align: left;
	width: 1100px;
	margin-left: 10px;
	position: relative;
}

.bops table {
	border-collapse: collapse;
}

.bops th {
	text-align: center;
	font-weight: bold;
	background-color: #eeeeee;
	height: 30px;
}

.bops th dl {
	margin-bottom: 0;
}

.bops th dl dt {
	display: inline-block ;
}

.bops th dl dd {
	font-weight: normal ;
	display: inline-block ;
	margin: 0 ;
	padding: 0 ;
}

.bops th dl .dd-split {
	margin: 0 -5px;
}

.bops th a {
	text-decoration: none ;
	color: #000;
}

.bops th,.bops td {
	border: 1px solid #bbb;
	font-size: 12px;
	padding: 2px 0px;
}

.bops td {
	padding: 2px 3px;
}

.bops #itemTable td .dc-item-desc {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.bops #itemTable .item-pic img {
	margin: 0;
	width: 50px;
	height: 50px;
}

.bops #itemTable .item-modified {
	padding-bottom:5px ;
	margin-bottom:5px;
	border-bottom:1px dotted #aaa;
}

.bops #itemTable .item-prom-time {
	color: #999 ;
	font-size: 10px;
}

.bops #itemTable .item-prom-time span {
	margin-right: 1px;
	margin-top:-1px;
	float: left ;
}

.bops #itemTable .item-prom-time .start-icon ,
.bops #itemTable .item-prom-time .end-icon { 
	margin:-2px 5px 0 0 ;
}

.bops #itemTable .item-prom-time dl {
	margin:  1px 0 0 0  ;
}

.bops #itemTable .item-prom-time dd {
	float: left ;
	margin: 0 ;
}

.left_menu {
	float: left;     
	width: 100px;
	clear: both;
	font-size: 13px;
	font-family: 'Microsoft Yahei' , 'songti' ,Arial ;
}

/* Disable properties specified in the imported CSS file */
.left_menu p {
	border: none;
	font-weight: bold;
	background-color: #DDDDDD;
	font-color: black;
	padding: 5px 10px;
}

.left_menu p a {
	border: none;
	font-weight: bold;
}

.left_menu a {
	border: none;
	font-weight: normal;
}

/* Actual menu CSS starts here */
.left_menu,.left_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.left_menu {
	width: 200px;
}

.left_menu ul {
	background: #f9f9f9;
}

.left_menu li {
	margin: 0;
	padding: 0;
	margin-bottom: 1px;
	
}

.left_menu a {
	display: block;
	padding: 2px 5px;
	color: #444;
	text-decoration: none;
	background: #ddd;
}

.left_menu ul a {
	background: #f9f9f9;
}

.left_menu ul a:hover,
.left_menu ul a:focus,
.left_menu ul a:active  {
	background: #e3e3e3;
}

.left_menu ul .cur a{
	background: #efefef;
}

.left_menu ul li {
	padding-left: 15px;
}


.hidden {
	display: none;
}

.settle_U {
	color: #0088CC;
}

.settle_S {
	color: #53A000;
}

.settle_F {
	color: #FF4444;
}

.settle_P {
	color: #F37800;
}

.settle_JP {
	color: #F37800;
}

.settle_C {
	color: #F64800;
}

.settle_D {
	color: #983800;
}

.settle_R {
	color:#FF4444;
}

.F10 {
	font-size: 10px;
}

.B {
	font-weight: bold;
}

.GRAY {
	color: gray;
}

.btn_s a,.btn_s a:hover,.btn_s a:active {
	color: #53A000;
	text-decoration: none;
	border: 1px solid gray;
	font-size: 14px;
	padding: 3px;
	background-color: #eeeeee;
}

.btn_f a,.btn_f a:hover,.btn_f a:active {
	color: #FF4444;
	text-decoration: none;
	border: 1px solid gray;
	font-size: 14px;
	padding: 3px;
	background-color: #eeeeee;
}

/**********************************/


/**********************************/
.layer_tips_version {
	border-color: #f8e2ae;
	border-radius: 6px 6px 6px 6px;
	border-style: solid;
	border-width: 1px 1px 2px;
	color: #666666;
	padding: 0;
}

.layer_tips_bg {
	background: none repeat scroll 0 0 #fefff2;
	border-radius: 6px 6px 6px 6px;
	height: 100%;
	overflow: hidden;
	padding: 0;
}

.layer_tips .arrow_up {
	background-position: -20px 0;
	height: 10px;
	left: 20px;
	margin: 7px auto 0;
	overflow: hidden;
	position: absolute;
	top: -17px;
	width: 19px;
}

.layer_tips .arrow_down {
	background-position: 0 0;
	bottom: -10px;
	height: 10px;
	left: 20px;
	margin: 7px auto 0;
	overflow: hidden;
	position: absolute;
	width: 19px;
}

.layer_tips ul {
	margin: 5px 15px;
}

.layer_tips .arrow_left {
	background-position: 0 -20px;
	bottom: 5px;
	height: 19px;
	left: -10px;
	margin: 7px auto 0;
	overflow: hidden;
	position: absolute;
	width: 10px;
}

.layer_tips_version li.btn {
	text-align: right;
}

.layer_tips .W_close_color {
	position: absolute;
	top: 5px;
	right: 5px;
}

.alipay_detail_tips {
	left: 503px;
	position: absolute;
	top: 187px;
	z-index: 9999;
	font-size: 12px;
}

/****/
.pagination {
	font-family: Tahoma;
	font-size: 12px;
	height: 32px;
	text-align: left;
	padding-top: 12px;
	padding-bottom: 8px;
	overflow: hidden;
	margin-right: 80px;
}

.pagination .page-bottom {
	float: left;
}

.pagination a,.pagination a:link,.pagination a:visited,.pagination .page-prev,.pagination .page-cur,.pagination .page-start,.pagination .page-end,.pagination .page-next,.pagination .page-break
	{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	height: 24px;
	line-height: 24px;
	margin: 0 4px 0 0;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 14px;
}

.pagination .page-start {
	width: 52px;
	border: 1px solid #c4c4c4;
	font-size: 12px;
}

.pagination .page-start span,.pagination .page-prev span {
	display: none;
}

.pagination .page-cur {
	background-color: #ffede1;
	border: 1px solid #ff7300;
	color: #ff7300;
	font-weight: 700;
	padding: 0 8px;
	font-size: 12px;
}

.pagination a,.pagination .page-next {
	border: 1px solid #c4c4c4;
	padding: 0 8px;
	font-size: 12px;
	font-family: "\5b8b\4f53";
}

.pagination a:hover {
	border: 1px solid #ff7300;
	text-decoration: none;
}

.pagination .page-break {
	padding: 0 3px;
	color: #666;
	font-size: 12px;
}

.pagination .page-next {
	padding-right: 16px;
	font-size: 12px !important;
}

.pagination a.page-prev {
	padding: 0 !important;
	width: 52px;
	font-size: 12px;
}

.pagination a.page-prev:hover {
	border: 1px solid #ff7300;
	text-decoration: none;
}

.pagination .page-end {
	border: 1px solid #c4c4c4;
	padding: 0 5px;
	padding-right: 16px;
	color: #c4c4c4;
	font-size: 12px;
}
/*=分页改造*/
.page-op {
	float: left;
	color: #666666;
}

.page-op #jumpto {
	width: 32px;
	text-align: center;
	border: 1px solid #999999;
	color: #000000;
	font-family: Tahoma, SimSun, Arial;
	height: 16px;
	margin: 0 5px;
	text-align: center;
	vertical-align: middle;;
}

.page-op .total-page {
	padding: 0 3px;
}

.page-op .total-page b {
	font-weight: bold;
}

/***************************/
.ui-customize-select-list {
	background-color: #FFFFFF;
	border-radius: 2px 2px 2px 2px;
	/*box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);*/
	color: #0188CC;
	position: absolute;
	z-index: 111;
	font: 12px/1.5 tahoma, arial, 宋体;
	padding: 0;
	margin: 0;
}

.ui-customize-select-list .normal-list {
	overflow-x: hidden;
	overflow-y: auto;
}

.ui-customize-select-list li a,.ui-customize-select-list li span {
	display: inline-block;
	padding: 0 10px;
}

.ui-customize-select-list li.first {
	border-radius: 3px 3px 0 0;
	border-top: 1px solid #C4C4C4;
	border-bottom: 1px solid #E9E9E9;
	background-color: #eeeeee;
	line-height: 18px;
	height: 18px;
}

.ui-customize-select-list .normal-list .split {
	color: #000000;
}

.ui-customize-select-list li.last {
	border-bottom: 1px solid #C4C4C4;
	border-radius: 0 0 3px 3px;
	color: #000000;
	line-height: 3px;
	height: 3px;
}

.ui-customize-select-list li {
	border-left: 1px solid #C4C4C4;
	border-right: 1px solid #C4C4C4;
	cursor: pointer;
	height: 20px;
	line-height: 21px;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-align: left;
}

.ui-customize-select-list li.active {
	background-color: #F99236;
}

.ui-customize-select-list .active,.ui-customize-select-list .active a,.ui-customize-select-list .active span
	{
	color: #FFFFFF;
}

.icon-pull-down {
	background-position: 3px -33px;
	width: 14px;
}

.icon-pull-up {
	background-position: 3px -13px;
	width: 14px;
}

.updown-select-btn a,.updown-select-btn a:hover,.updown-select-btn a:active,.updown-select-btn a:visited
	{
	color: #0188CC;
	cursor: pointer;
	font-size: 12px;
	line-height: 17px;
	text-decoration: none;
}

.select-tips {
	background-color: #FEFECC;
	border: 1px solid #EEEE99;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	font-family: Arial;
	padding: 4px 8px;
	position: absolute;
	width: 220px;
	z-index: 99;
	font: 12px/1.5 tahoma, arial, 宋体;
	color: #4D4D4D;
}

.angle-right {
	background-position: 0 0;
	height: 13px;
	position: absolute;
	width: 7px;
	z-index: 1;
	right: -7px;
}

.angle-down {
	background-position: 0 0;
	height: 7px;
	position: absolute;
	width: 15px;
	z-index: 1;
	right: 7px;
}

.angle-top {
	background-position: 0 0;
	height: 13px;
	position: absolute;
	width: 15px;
	z-index: 1;
	right: -7px;
}

.dc-scene-title {
	font-size: 32px;
	color: #0066ff;
}

.dc-scene-desc {
	color: #666666;
}

.dc-item-desc {
	width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.err-icon {
	background-position: -128px -418px;
	width: 16px;
	height: 16px;
}

.ok-icon {

}

.memo-icon {
	cursor: pointer;
	background-position: -350px -350px;
	width: 14px;
	height: 14px;
}

.memo-icon-active {
	background-position: 0 0;
}

.clock-icon {
	cursor: pointer;
	background-position: -550px -550px;
	width: 14px;
	height: 14px;
}

.clock-icon-active {
	background-position: -500px -500px;
}

.money-icon {
	cursor: pointer;
	background-position: -600px -600px;
	width: 14px;
	height: 14px;
}

.money-icon-active {
	background-position: -400px -400px;
}

.info-icon {
	cursor: pointer;
	width: 14px;
	height: 14px;
	background-position: -750px -750px;	
}

.info-icon-active {
	background-position: -300px -300px;	
}

.person-icon {
	cursor: pointer;
	background-position: -650px -650px;
	width: 14px;
	height: 14px;
}

.person-icon-active {
	background-position: -150px -150px;
}

.close-icon {
	cursor: pointer;
	background-position: -700px -700px;
	width: 14px;
	height: 14px;
}

.close-icon-active {
	background-position: -50px -50px;
}

.delete-icon {
	cursor: pointer;
	width: 14px;
	height: 14px;
}

.delete-icon-active {
	background-position: -100px -100px;
}

.wangwang-icon {
	cursor: pointer;
	background-position: -250px -250px;
	width: 14px;
	height: 14px;
}

.start-icon {
	background-position: -600px -600px;
	height: 14px;
	width: 14px;
	
}

.end-icon {
	background-position: -650px -650px;
	height: 14px;
	width: 14px;
}

.parent-icon {
	background-position: 0 -570px;
	height: 12px;
	width: 12px;
}

.order-icon {
	background-position: 0 -600px;
	height: 12px;
	width: 12px;
}

.code-icon {
	background-position: 0 -630px;
	height: 12px;
	width: 12px;
}

.wangwang-icon-active {
	background-position: -200px -200px;
}

.settle-memo-dialog {
	border: 1px solid #eeee99;
	width: 180px;
	font-size: 12px;
	position: absolute;
	background-color: #fefecc;
}

.settle-memo-dialog-head {
	background-color: #fefecc;
	color: #444;
	text-align: right;
	padding: 4px 0 0 0;
}

.settle-memo-dialog-head span {
	
}

.settle-memo-dialog textarea {
	width: 175px;
	height: 50px;
	margin: 5px 0 0 3px;
	font-size: 12px;
}

.settle-memo-dialog div {
	clear: both;
	width: 170px;
}

.settle-memo-dialog .submit {
	background-color: #eee;
	color: #000;
	text-decoration: none;
	padding: 3px 5px;
	margin: 5px;
	float: right;
	border-radius: 3px;
}

.settle-memo-dialog .submit:hover {
	color: #000;
}

.settle-memo-dialog .angle-top {
	left: 150px;
	top: -7px;
}

.settle-memo-dialog .msg {
	float: left;
	margin: 5px 0 0 10px;
	color: #d95b6d;
}

.settle-memo-dialog .w_close_color {
	margin: 3px 0 0 10px;
	float: left;
}

.treat-detail-dialog {
	border: 1px solid #000;
	font-size: 12px;
	width: 600px;
	position: absolute;
	background-color: #FEFECC;
}

.treat-detail-dialog .close {
	float: right;
	margin: 5px;
}

.treat-detail-dialog .main {
	margin: 10px;
}

.treat-detail-dialog .user {
	font-size: 14px;
	color: #F44;
	margin-bottom: 20px
}

.treat-detail-dialog .title {
	font-size: 14px;
	color: #08C;
	font-weight: bold;
}

.treat-detail-dialog .agent {
	font-size: 10px;
	color: #999;
}

.treat-detail-dialog .ip {
	font-size: 10px;
	color: #08C;
}

.treat-detail-dialog .record {
	border-bottom: 1px dashed #666;
	margin: 5px;
	padding: 3px 0;
}

.update-banner-dialog {
	border: 1px solid #eeee99;
	width: 680px;
	font-size: 12px;
	position: absolute;
	left:400px;
	top:200px;
	background-color: #fefecc;
	padding: 10px;
}

.update-banner-dialog .dialog-head {
	background-color: #fefecc;
	color: #444;
	text-align: center;
	padding: 4px 0 0 0;
	font-weight: bold;
	position: relative;
}

.update-banner-dialog .dialog-head span {
	
}

.update-banner-dialog textarea {
	width: 175px;
	height: 50px;
	margin: 5px 0 0 3px;
	font-size: 12px;
}

.update-banner-dialog .line {
	border-bottom: 1px dashed #aaa;
	line-height: 25px;
	padding: 10px 0;
}

.update-banner-dialog div {
	clear: both;
	width: 90%;
}

.update-banner-dialog input {
	width: 500px;
	float: right;
}

.update-banner-dialog .submit {
	background-color: #eee;
	color: #000;
	text-decoration: none;
	padding: 3px 5px;
	margin: 5px;
	float: right;
	border-radius: 3px;
}

.update-banner-dialog .submit:hover {
	color: #000;
}

.update-banner-dialog .angle-top {
	left: 150px;
	top: -7px;
}

.update-banner-dialog .msg {
	float: left;
	margin: 5px 0 0 10px;
	color: #d95b6d;
}

.update-banner-dialog .w_close_color {
	position: absolute;
	left:670px;
}

.dc-item-title {
    width: 200px;
	height:42px;
	line-height: 14px;
	overflow: hidden;
}

.dateipt { 
	width:100px;
}

.settleiptmore {
	margin-top: 10px;
	padding: 5px 0 0 10px;
	border-top: 1px solid #CCC;
	font-size: 12px;
}

.settleipt {
	padding: 10px;
	margin-top: 15px;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	text-align: center;
	text-align: left;
}

.report-table .report-trade-id li {
	clear:both;
	width: 70px;
}
	
.report-table .report-trade-id span {
	width:50px;
	overflow:hidden;
	text-overflow:ellipsis ;
}

.report-table .report-trade-id span ,
.report-table .report-trade-id i {
	float:left ;
	margin-right: 3px;
}

.report-table .split {
	color:#999;
	margin: 0 2px 0 0;
}

.report-table .outcode {
	color: #aaa ;
}

.report-table .outcode i {
	float :left ;
	margin: 1px 2px 0 0 ;
}

.report-refund-R {
	color:red ;
}

#exchangeItemTable .dc-item-title {
    width: 160px;
}

.vote-track-wish-item-box {
	clear:both;
	background-color: #fefecc;
	font-size: 12px;
	width: 300px;
	padding: 10px;
	border:1px solid #ee9;
	position: absolute;
}

.vote-track-wish-item-box .wish-item-table {
	clear: both;
	margin: 15px 0 5px 0 ;
}

.vote-track-wish-item-box .title {
	width:140px;
	height: 14px;
	overflow: hidden;
}

.vote-track-wish-item-box .more-box {
	text-align: center;
}

.user-delivery-dialog {
	width:400px;
	left:-300px;
	top:10px;
}

.user-delivery-dialog .line {
	text-align:left ;
	color:#666;
	line-height:20px;
	border-bottom:1px dotted #ddd;
	padding: 2px 0 ;
}


.user-delivery-dialog .line input{
    width: 280px;
}

.user-delivery-dialog div {
	width:90%;
}

.user-delivery-dialog .w_close_color {
	float:right;
	width: 10px;
	height: 10px;
}

.user-delivery-dialog .settle-memo-dialog-head {
	height:20px;
	margin:5px 0 ;
	border-bottom:  1px solid #aaa;
}

.prom-award-table .highlight-bk {
	background-color: #ffff7d ;
}

.hlight-bk-yellow {
	background-color: #ffff7d ;
}

.prom-award-table .user-delivery-dialog-foot {
	border-top:1px solid #aaa ;
	height:20px;
	margin-top:10px;
}

.yellow-btn span{
	display: inline-block;
	background: url(../img/bg_btn.png) no-repeat;
	padding: 0 0 0 2px;
	height: 22px;
	line-height: 21px;
	line-height: 24pxurl(0);
	color: #fff;
	font-size: 12px;
	padding: 0 10px;
}

.yellow-btn span {
	background-position: right -30px;
}

.jfb-settle-csv-export {
	background-color: #aaa;
	border: 1px solid #777 ;
	font-size: 12px;
	color: #fff;
	width: 280px;
	padding: 5px 10px;
	margin-top:2px;
}

.jfb-settle-csv-export span {
	margin-left : 5px;
}

.jfb-settle-csv-upload {
	background-color: #fefecc;
	border: 1px solid #ee9 ;
	font-size: 12px;
	color: #444;
	width: 380px;
	padding: 5px 10px;
	margin-top:2px;
	position: absolute;
	left: -100px;
}

.jfb-settle-csv-upload .trade-no {
	margin-top:5px;
}

.jfb-settle-csv-upload .all-success {
	color:#aaa;
	margin-left:2px;
	margin-bottom:10px;
}

.jfb-settle-csv-upload .W_close_color {
	float: right; 
}

.jfb-settle-csv-upload .item-line {
	margin:3px 0 ;
}

.dc-seperator {
	margin:0 5px;
}


.jfb-icon19x19 {
	background-image: url(../images/jfb19x19.png);
	background-repeat: no-repeat;
	background-color: transparent;
    display: inline-block;
	width:19px;
	height: 19px;
}

.jfb-icon16x16 {
	background-image: url(../images/jfb16x16.png);
	background-repeat: no-repeat;
	background-color: transparent;
    display: inline-block;
	width:16px;
	height: 16px;
}

.jfb-icon12x12 {
	background-image: url(../images/jfb12x12.png);
	background-repeat: no-repeat;
	background-color: transparent;
    display: inline-block;
	width: 12px;
	height: 12px;
}

.jfb-icon10x10 {
	background-image: url(../images/jfb10x10.png);
	background-repeat: no-repeat;
	background-color: transparent;
    display: inline-block;
	width: 10px;
	height: 10px;
}

.jfb-icon19x19 , .jfb-icon16x16 ,.jfb-icon12x12 ,.jfb-icon10x10 {
	margin:0 3px 0 0;
}

.hs-table .desc {
    width: 250px;
	height: 60px;
	overflow: hidden;
	line-height: 20px;
}

.hs-table .desc-s {
     width: 150px;
}

.hs-table .detail {
    position: absolute;
	top: 10px;
	left: 100px;
    width: 250px;
	border: 1px solid #666666;
	padding: 4px 5px;
	background-color: #e0c99d;
	color: #000000;
	z-index: 999;
}

.bops .award-oper {
    position: absolute;
	right: 150px;
	top: 85px;
}

#itemTable .userid {
    color: #666666;
	text-decoration: none;
	padding: 2px 3px;
	background-color: #eeeeee;
}

#itemTable .user-info {
    position: absolute;
	top: 5px;
	left: 0px;
	border: 1px solid #EE9;
	background-color: #FEFECC;
	z-index: 990;
}

#itemTable .user-info li {
    width: 150px;
	height: 20px;
	line-height: 20px;
	border-bottom: 1px dotted #DDD;
}
#itemTable .user-info .w_close_color {
    float: right;
	width: 10px;
	height: 10px;
	margin: 5px 5px 0 0;
}

#itemTable .recomm-select {
	position: relative;
}

#itemTable .recomm-select .fake-select {
	position: absolute;
	margin: 0;
	left: 5px;
	top: -10px;
}

#itemTable .fake-select .loc1, 
#itemTable .fake-select .split, .fake-select .loc3 {
	width:150px;
}

#searchLogTable input {
    width: 60px;
}

.exchange-approve .del-label {
	color: #999 ;
	margin: 0 5px 0 2px;
}

.exchange-add-memo-dialog {
	background-color:#08C;
	border:1 solid #222 ;
	width:260px;
	position:absolute ;
	overflow:hidden;
	font-size:12px;
	z-index:99999;
}

.exchange-add-memo-dialog .main {
	background-color:#f0f0f0;
	border:1px solid #222;
	margin:0 3px 3px 3px ;
}

.exchange-add-memo-dialog a {
	color:#0188cc;
}

.exchange-add-memo-dialog .head {
	height:20px;
	background-color:#08C;
}

.exchange-add-memo-dialog .head span {
	float:left ;
	margin:3px 0 0 5px;
}

.exchange-add-memo-dialog .W_close_color {
	float:right;
	margin:5px;
}

.exchange-add-memo-dialog .content {
	margin:10px;
}

.exchange-add-memo-dialog .content .text {
	font-size:14px;
	height:30px;
	line-height: 30px;
}

.exchange-add-memo-dialog .memo {
	border-top : 1px solid #aaa ;
	border-bottom:1px solid #aaa ;
	padding:5px 0 ;
	margin:10px 0 5px 0;
	clear:both;
	
}

.exchange-add-memo-dialog .memo .ipt input{
	width:180px;
	height:20px;
}

.exchange-add-memo-dialog .memo .label {
	float: left;
	margin-top: 3px;
}

.exchange-add-memo-dialog .foot {
	margin-bottom:5px;
	height:15px;
	position: relative;
	text-align: right ;
}

.exchange-add-memo-dialog .foot span {
	margin: 0 10px;
}

.fake-select {
	position: relative;
	display: inline-block;
	vertical-align: text-top;
	top: -2px;
	margin: 0 .2em;
	font-size:12px;
	margin:0 150px 0 30px;
}

.fake-select a {
	text-decoration: none ;
}

.fake-select.focus ul.selected, .fake-select.hover ul.selected {
	border-color: #a6a6a6;
	background-color: #f6f6f6;
	filter: '';
}

.fake-select ul.selected {
	min-width: 2em;
	height: 17px;
	overflow: hidden;
	background-color: #f3f3f3;
	border: 1px solid #bbb;
	background: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f1f1f1));
	background: -moz-linear-gradient(50% 0,#fff,#f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f1f1f1);
	zoom: 1;
}

.fake-select .selected a, .fake-select ul.toselect a {
	white-space: nowrap;
	color: #404040;
	border: solid #fff;
	border-width: 1px 1px 0;
	vertical-align: text-bottom;
	text-decoration: none;
	font-size: 12px;
	height: 22px;
	line-height: 20px;
	padding: 0 4px;
	display: block;
	_display: inline-block;
	_float: left;
	_clear: left;
	zoom: 1;
}

.fake-select .sel_dropdown {
	position: absolute;
	right: 0;
	top: 1px;
	height: 16px;
	width: 15px;
	border-left: 1px solid #ccc;
}

.fake-select .selected a:link, .fake-select .selected a:visited {
	height: 16px;
	line-height: 15px;
	padding-right: 20px;
}

.fake-select .sel_dropdown .i {
	width: 0;
	height: 0;
	line-height: 0;
	position: absolute;
	left: 49%;
	margin-left: -4px;
	top: 50%;
	margin-top: -1px;
	border-color: #a6a6a6 #f3f3f3 #fff #f3f3f3;
	border-width: 4px 4px 0 4px;
	border-style: solid;
}

.w-filter .sel_dropdown .i {
	border-top-color: #667;
}

.fake-select .toselect li a {
	padding:2px;
	color: #444;
}

.fake-select .toselect {
	min-width: -moz-calc(100% - 2px);
	position: absolute;
	left: 0;
	top: 19px;
	margin-top: -1px;
	border: 1px solid #a6a6a6;
	background-color: #fff;
	zoom: 1;
	box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
}

.fake-select .toselect li.checked a, .fake-select .toselect li.checked a:visited {
	background: #f50!important;
	color: #fff;
}

.fake-select .loc1, .fake-select .split, .fake-select .loc3 {
	padding: 6px;
	float: left;
	clear: left;
	width: 210px;
	line-height: 1.8;
}

.fake-select .toselect li {
	margin: 0 3px;
	height: auto;
	float: left;
	display: inline;
	clear: none;
}

.fake-select .toselect li a:hover {
	background-color: #ddd;
}

#autoExchangeTable tr.highlight {
    background-color: #dddddd;
}

#autoExchangeTable td div.border {
    line-height: 20px;
	border-bottom: 1px dotted #666666;
}

#autoExchangeTable td {
    padding: 0px 2px;
}

#autoExchangeTable td a.btn {
    display: block;
	line-height: 20px;
	padding-bottom: 3px;
}

#autoExchangeTable td .color, #autoExchangeTable td .size {
    width: 80px;
}

#autoExchangeTable td .user-id, #autoExchangeTable td .user-nick, #autoExchangeTable td .user-integral {
    width: 130px;
}

#autoExchangeTable td .memo {
    width: 140px;
}

#autoExchangeTable td .audit-opinion {
    height: 60px;
	line-height: 20px;
	width: 160px;
}

.consume-detail-list .consume-alipay {
	height: 14px;
	width:160px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.consume-detail-list .consume-name a {
	color:#666;
	text-decoration: none ;
}

.consume-detail-list .consume-name a:hover ,
.consume-detail-list .consume-name a:active {
	text-decoration: underline;
}

.consume-detail-list .consume-name .title {
	height: 14px;
	width:280px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #666;
}

.consume-detail-list .consume-name .source {
	color: #121212;
}

.consume-detail-list table .extra {
	margin-left: 5px;
}

.consume-detail-list table .extra i {
	height: 13px;
}

.consume-detail-list th .split {
	font-style: normal;
	font-weight: normal;
	color: #666;
	margin: 0 3px;
}

.sync-report-task-cal {
	text-align: center;
	width: 900px;
	margin-top: 40px;
}

.sync-report-task-cal .cal-table {
	margin-top: 20px;
}

.sync-report-task-cal .cal-table table {
	width:850px;
	margin: 0 auto ;
}

.sync-report-task-cal .cal-date {
	font-family: "Microsoft Yahei" ,Arial ;
	font-weight: bold ;
	color: #666;
}

.sync-report-task-cal .task-status {
	color: #F64800;
	font-weight: normal ;
}

.sync-report-task-cal .task-status-IDLE {
	color: #0088cc;
}

.sync-report-task-cal .task-status-FINISH {
	color:#aaa;
}

.sync-report-task-cal .task-status-RUNNING {
	color:#F37800;
}

.sync-report-task-cal .line-split {
	margin: 2px 0 ;
	height:1px;
	overflow:hidden;
	border-bottom: 1px dotted #dedede ;
	width: 120px;
}

.sync-report-task-cal .result-success {
	color:#53A000;
}

.sync-report-task-cal .result-error {
	color:#F64800;
}

.sync-report-task-cal .result-pending {
	color: #0088cc;
}

.sync-report-task-cal .sub-task {
	color: #aaa;
	margin-left: 5px;
}

.sync-report-task-cal .sub-task a {
	color: #999;
}

.sync-report-task-cal .sub-task-table {
	margin:30px 0 0 80px;
}

.sync-report-task-cal .sub-task-table table {
	width:600px;
}

.sync-report-task-cal .sub-task-table .loading-msg {
	text-align: left ;
}

.account-list .settleIptMore .more {
	margin-top:10px;
	padding-top:5px;
	border-top:1px dotted #ddd ;
}

.account-list .export-list {
	
}

.account-list .export-list .submit-box {
	width:120px;
	height: 30px;
	text-align: center ;
	background-color: #ddd;
	border: 1px solid #aaa;
	margin-top:5px;
}

.account-list .export-list .submit-box input {
	border :1px solid #777;
	cursor: pointer;
	margin-top: 5px;
}


.bops .other {
	color: #999;
}

.pic-upload-layer {
    position: absolute;
    width: 380px;
	background-color: #fff;
	border: 3px solid #ddd;
	border-radius: 4px;
	z-index: 999;
}

.pic-upload-layer .header {
    height: 30px;
	width: 100%;
	background-color: #eee;
	line-height: 30px;
	font-weight: bold;
	position: relative;
}

.pic-upload-layer .header .close-btn {
	right: 5px;
	top: 5px;
}

.pic-upload-layer .content {
    padding: 5px 10px;
}

.pic-upload-layer .content .tip {
    margin-bottom: 10px;
}
.pic-upload-layer .content .error {
    color: red;
}

.pic-upload-layer .content .url-pic {
    padding-top: 10px;
	padding-bottom: 20px;
}

.pic-upload-layer .content .local-pic {
    border-top: 2px solid #999;
    padding-top: 10px;
	padding-bottom: 20px;
}

.pic-upload-layer .content input[type="text"],
.pic-upload-layer .content input[type="file"] {
    padding: 2px 4px;
	width: 300px;
}

.pic-upload-layer .content .confirm-btn {
    padding: 5px 7px;
	letter-spacing: 4px;
}

.pic-box {
    position: absolute;
	width: 380px;
	height: 600px;
	overflow: hidden;
}

.pic-box .top-box {
    display: table;
}

.pic-box .picture {
	width: 298px;
	height: 298px;
	overflow: hidden;
	border: 1px solid #999999;
	text-align: center;
}

.pic-box .picture img {
    max-width: 300px;
	max-height: 300px;
	vertical-align: middle;
}

.pic-box .sum-pics .nav {
	color: #666;
	border-bottom: 1px dotted #f9f9f9;
	clear: both;
	margin-top: 10px;
}

.pic-box .sum-pics .split {
	border-top: 1px dotted #ddd;
	width: 100% ;
	margin: 10px 0;
	height: 1px;
	overflow: hidden ;
}

.pic-box .sum-pics ul {
	height: 70px;
}

.pic-box .sum-pics li {
    float: left;
    display: inline;
	border: 1px solid #e9e9e9;
	margin: 5px;
	background-color: #f9f9f9;
}

.pic-box .sum-pics li a {
	width: 60px;
	height: 60px;
	display: inline-block;
	overflow: hidden;
}

.pic-box .sum-pics .active {
    border: 1px solid red;
}

.pic-box .sum-pics li a img {
    width: 60px;
	height: 60px;
	overflow: hidden;
}

.pic-box .sum-pics .add-pic {
	background-image: url(../../image/add.png);
	background-repeat: no-repeat;
	background-color: transparent;
	display: inline-block;
	width: 60px;
	height: 60px;
}

.text-ellipsis {
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.close-btn {
    position: absolute;
	width: 20px;
	height: 20px;
	background: url(../../image/close20x20.png) no-repeat scroll 0 0;
}

.bops form input[type="submit"] {
    padding: 4px 6px;
	letter-spacing: 4px;
	height: 30px;
	font-weight: bold;
	margin-left: 20px;
}

.bops form .search-div {
    margin-right: 20px;
}

.bops form .lbl {
    font-size: 14px;
}

.bops form .dateIpt {
    width: 150px;
}

.bops select, .bops option {
    padding: 3px 6px;
}

.bops table tr.even {
    background-color: #eaf9e6;
}

.dbsort_asc,.dbsort_desc,.dbsort_none {
	background-image: url(../../image/icons.png);
	background-repeat: no-repeat;
	background-color: transparent;
	display: inline-block;
}

.dbsort_desc {
	background-position: -8px -2081px;
	height: 12px;
	width: 12px;
}

.dbsort_asc {
	background-position: -8px -2059px;
	height: 12px;
	width: 12px;
}

.dbsort_none {
	background-position: -8px -2037px;
	height: 12px;
	width: 12px;
}

th.more {
    position: relative;
}

th.more a.more-icon {
    background: url(../../image/more-icon.gif) no-repeat scroll 0 0;
	width: 30px;
	height: 10px;
	display: inline-block;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

td .detail-layer {
    position: absolute;
	z-index: 999;
	background-color: #e1e1e1;
	border: 1px solid #999;
	padding: 5px 8px;
	border-radius: 3px 3px;
	left: 0px;
	top: 0px;
	width: 200px;
}

.app-recommend-list .intro {
	
}

.app-recommend-list .logo {
	width: 80px;
}