

.layer_tips .arrow_up,.layer_tips .arrow_down,.layer_tips .arrow_left,.layer_tips .arrow_right
	{
	background-image: url(../img/layer_arrow.png);
	background-repeat: no-repeat;
	background-color: transparent;
	display: inline-block;
}

.W_close_color,.W_close_color:hover {
	background: url("../img/layer_tip_newico.png") no-repeat scroll 0 -38px
		transparent;
	display: inline-block;
	height: 7px;
	overflow: hidden;
	width: 7px;
}

.angle-right {
	background-image: url(../images/angle_right.png);
	display: inline-block;
	background-repeat: no-repeat;
	overflow: hidden;
	background-color: transparent;
}

.angle-top {
	background-image: url(../images/angle_top.png);
	display: inline-block;
	background-repeat: no-repeat;
	overflow: hidden;
	background-color: transparent;
}

.angle-down {
	background-image: url(../images/angle_down.png);
	display: inline-block;
	background-repeat: no-repeat;
	overflow: hidden;
	background-color: transparent;
}

.memo-icon ,
.clock-icon , 
.money-icon ,
.person-icon ,
.info-icon ,
.close-icon,
.delete-icon,
.wangwang-icon {
	background: url(../images/flags.png);
	display: inline-block;
}

.err-icon , 
.ok-icon {
	background: url(../images/ico-pa.png);
	display: inline-block;
}

.start-icon ,
.end-icon{
	background: url(images/flags.png);
	display: inline-block;
}

.parent-icon , 
.order-icon,
.code-icon {
	background: url(../img/flags_new.png);
	display: inline-block;
}

.location-icon {
	background: url(../images/icon.png);
	display: inline-block;
}

.L {
	float: left;
}

.R {
	float: right;
}

.dd-l {
	float: left;
}

.dd-r {
	float: right;
}

.TAL {
	text-align: left;
}

body {
	font: 12px normal;
	witdh: 100%;
}

ul {
	margin: 0;
	padding: 0;
}

ol,ul {
	list-style: none outside none;
}

.darkGray {
	color: #555555;
}

.dc-yellow {
	color: #F37800;
}

.dc-red {
	color: #F44;
}

.dc-green {
	color: #53A000;
}

.dc-blue {
	color: #08C;
}

.dc-gray {
	color: #666;
}

.dc-light-gray {
	color: #aaa;
}

.dc-light-light-gray {
	color: #ccc;
}

.F12 {
	font-size: 12px;
}

.F14 {
	font-size: 14px;
}

.F16 {
	font-size: 16px;
}

.MT20 {
	margin-top: 20px;
}

.MT10 {
	margin-top: 10px;
}

.MB20 {
	margin-bottom: 20px;
}

.MB10 {
	margin-bottom: 10px;
}

.ML10 {
	margin-left: 10px;
}

.ML20 {
	margin-left: 20px;
}

.MR20 {
	margin-right: 20px;
}

.MR10 {
	margin-right: 10px;
}

.MR5 {
	margin-right: 5px;
}

.ML5 {
	margin-left: 5px;
}

.MT5 {
	margin-top: 5px;
}

.MB5 {
	margin-bottom: 5px;
}

.dd-hide {
	display: none;
}

i.yen {
	font-family: arial ;
	font-style: normal; 
}

.ipt40 {
	width:40px;
}

.ipt60 {
	width:60px;
}

.ipt80 {
	width:80px;
}

.ipt100 {
	width:100px;
}

.shadow-bg {
	position: absolute;
	z-index: 99;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	_width: expression(document.documentElement.clientWidth);
	_height: expression(document.documentElement.clientHeight);
	background: rgb(50, 50, 50);
	background: rgba(0, 0, 0, 0.5);
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.bops {
	float: left;
	text-align: left;
	width: 1100px;
	margin-left: 10px;
	position: relative;
}

.bops table {
	border-collapse: collapse;
}

.bops th {
	text-align: center;
	font-weight: bold;
	background-color: #eeeeee;
	height: 30px;
}

.bops th dl {
	margin-bottom: 0;
}

.bops th dl dt {
	display: inline-block ;
}

.bops th dl dd {
	font-weight: normal ;
	display: inline-block ;
	margin: 0 ;
	padding: 0 ;
}

.bops th dl .dd-split {
	margin: 0 -5px;
}

.bops th a {
	text-decoration: none ;
	color: #000;
}

.bops th,.bops td {
	border: 1px solid #bbb;
	font-size: 12px;
	padding: 2px 0px;
}

.bops td {
	padding: 2px 3px;
}

.bops #itemTable td .dc-item-desc {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.bops #itemTable .item-pic img {
	margin: 0;
	width: 50px;
	height: 50px;
}

.bops #itemTable .item-modified {
	padding-bottom:5px ;
	margin-bottom:5px;
	border-bottom:1px dotted #aaa;
}

.bops #itemTable .item-prom-time {
	color: #999 ;
	font-size: 10px;
}

.bops #itemTable .item-prom-time span {
	margin-right: 1px;
	margin-top:-1px;
	float: left ;
}

.bops #itemTable .item-prom-time .start-icon ,
.bops #itemTable .item-prom-time .end-icon { 
	margin:-2px 5px 0 0 ;
}

.bops #itemTable .item-prom-time dl {
	margin:  1px 0 0 0  ;
}

.bops #itemTable .item-prom-time dd {
	float: left ;
	margin: 0 ;
}

.left_menu {
	float: left;     
	width: 100px;
	clear: both;
	font-size: 13px;
	font-family: 'Microsoft Yahei' , 'songti' ,Arial ;
}

/* Disable properties specified in the imported CSS file */
.left_menu p {
	border: none;
	font-weight: bold;
	background-color: #DDDDDD;
	font-color: black;
	padding: 5px 10px;
}

.left_menu p a {
	border: none;
	font-weight: bold;
}

.left_menu a {
	border: none;
	font-weight: normal;
}

/* Actual menu CSS starts here */
.left_menu,.left_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.left_menu {
	width: 200px;
}

.left_menu ul {
	background: #f9f9f9;
}

.left_menu li {
	margin: 0;
	padding: 0;
	margin-bottom: 1px;
	
}

.left_menu a {
	display: block;
	padding: 2px 5px;
	color: #444;
	text-decoration: none;
	background: #ddd;
}

.left_menu ul a {
	background: #f9f9f9;
}

.left_menu ul a:hover,
.left_menu ul a:focus,
.left_menu ul a:active  {
	background: #e3e3e3;
}

.left_menu ul .cur a{
	background: #efefef;
}

.left_menu ul li {
	padding-left: 15px;
	height: 22px;
}


.hidden {
	display: none;
}

.settle_U {
	color: #0088CC;
}

.settle_S {
	color: #53A000;
}

.settle_F {
	color: #FF4444;
}

.settle_P {
	color: #F37800;
}

.settle_JP {
	color: #F37800;
}

.settle_C {
	color: #F64800;
}

.settle_D {
	color: #983800;
}

.settle_R {
	color:#FF4444;
}

.F10 {
	font-size: 10px;
}

.B {
	font-weight: bold;
}

.GRAY {
	color: gray;
}

.btn_s a,.btn_s a:hover,.btn_s a:active {
	color: #53A000;
	text-decoration: none;
	border: 1px solid gray;
	font-size: 14px;
	padding: 3px;
	background-color: #eeeeee;
}

.btn_f a,.btn_f a:hover,.btn_f a:active {
	color: #FF4444;
	text-decoration: none;
	border: 1px solid gray;
	font-size: 14px;
	padding: 3px;
	background-color: #eeeeee;
}

/**********************************/


/**********************************/
.layer_tips_version {
	border-color: #f8e2ae;
	border-radius: 6px 6px 6px 6px;
	border-style: solid;
	border-width: 1px 1px 2px;
	color: #666666;
	padding: 0;
}

.layer_tips_bg {
	background: none repeat scroll 0 0 #fefff2;
	border-radius: 6px 6px 6px 6px;
	height: 100%;
	overflow: hidden;
	padding: 0;
}

.layer_tips .arrow_up {
	background-position: -20px 0;
	height: 10px;
	left: 20px;
	margin: 7px auto 0;
	overflow: hidden;
	position: absolute;
	top: -17px;
	width: 19px;
}

.layer_tips .arrow_down {
	background-position: 0 0;
	bottom: -10px;
	height: 10px;
	left: 20px;
	margin: 7px auto 0;
	overflow: hidden;
	position: absolute;
	width: 19px;
}

.layer_tips ul {
	margin: 5px 15px;
}

.layer_tips .arrow_left {
	background-position: 0 -20px;
	bottom: 5px;
	height: 19px;
	left: -10px;
	margin: 7px auto 0;
	overflow: hidden;
	position: absolute;
	width: 10px;
}

.layer_tips_version li.btn {
	text-align: right;
}

.layer_tips .W_close_color {
	position: absolute;
	top: 5px;
	right: 5px;
}

.alipay_detail_tips {
	left: 503px;
	position: absolute;
	top: 187px;
	z-index: 9999;
	font-size: 12px;
}

/****/
.pagination {
	font-family: Tahoma;
	font-size: 12px;
	height: 32px;
	text-align: left;
	padding-top: 12px;
	padding-bottom: 8px;
	overflow: hidden;
	margin-right: 80px;
}

.pagination .page-bottom {
	float: left;
}

.pagination a,.pagination a:link,.pagination a:visited,.pagination .page-prev,.pagination .page-cur,.pagination .page-start,.pagination .page-end,.pagination .page-next,.pagination .page-break
	{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	height: 24px;
	line-height: 24px;
	margin: 0 4px 0 0;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 14px;
}

.pagination .page-start {
	width: 52px;
	border: 1px solid #c4c4c4;
	font-size: 12px;
}

.pagination .page-start span,.pagination .page-prev span {
	display: none;
}

.pagination .page-cur {
	background-color: #ffede1;
	border: 1px solid #ff7300;
	color: #ff7300;
	font-weight: 700;
	padding: 0 8px;
	font-size: 12px;
}

.pagination a,.pagination .page-next {
	border: 1px solid #c4c4c4;
	padding: 0 8px;
	font-size: 12px;
	font-family: "\5b8b\4f53";
}

.pagination a:hover {
	border: 1px solid #ff7300;
	text-decoration: none;
}

.pagination .page-break {
	padding: 0 3px;
	color: #666;
	font-size: 12px;
}

.pagination .page-next {
	padding-right: 16px;
	font-size: 12px !important;
}

.pagination a.page-prev {
	padding: 0 !important;
	width: 52px;
	font-size: 12px;
}

.pagination a.page-prev:hover {
	border: 1px solid #ff7300;
	text-decoration: none;
}

.pagination .page-end {
	border: 1px solid #c4c4c4;
	padding: 0 5px;
	padding-right: 16px;
	color: #c4c4c4;
	font-size: 12px;
}
/*=分页改造*/
.page-op {
	float: left;
	color: #666666;
}

.page-op #jumpto {
	width: 32px;
	text-align: center;
	border: 1px solid #999999;
	color: #000000;
	font-family: Tahoma, SimSun, Arial;
	height: 16px;
	margin: 0 5px;
	text-align: center;
	vertical-align: middle;;
}

.page-op .total-page {
	padding: 0 3px;
}

.page-op .total-page b {
	font-weight: bold;
}

/***************************/
.ui-customize-select-list {
	background-color: #FFFFFF;
	border-radius: 2px 2px 2px 2px;
	/*box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);*/
	color: #0188CC;
	position: absolute;
	z-index: 111;
	font: 12px/1.5 tahoma, arial, 宋体;
	padding: 0;
	margin: 0;
}

.ui-customize-select-list .normal-list {
	overflow-x: hidden;
	overflow-y: auto;
}

.ui-customize-select-list li a,.ui-customize-select-list li span {
	display: inline-block;
	padding: 0 10px;
}

.ui-customize-select-list li.first {
	border-radius: 3px 3px 0 0;
	border-top: 1px solid #C4C4C4;
	border-bottom: 1px solid #E9E9E9;
	background-color: #eeeeee;
	line-height: 18px;
	height: 18px;
}

.ui-customize-select-list .normal-list .split {
	color: #000000;
}

.ui-customize-select-list li.last {
	border-bottom: 1px solid #C4C4C4;
	border-radius: 0 0 3px 3px;
	color: #000000;
	line-height: 3px;
	height: 3px;
}

.ui-customize-select-list li {
	border-left: 1px solid #C4C4C4;
	border-right: 1px solid #C4C4C4;
	cursor: pointer;
	height: 20px;
	line-height: 21px;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-align: left;
}

.ui-customize-select-list li.active {
	background-color: #F99236;
}

.ui-customize-select-list .active,.ui-customize-select-list .active a,.ui-customize-select-list .active span
	{
	color: #FFFFFF;
}

.updown-select-btn a,.updown-select-btn a:hover,.updown-select-btn a:active,.updown-select-btn a:visited
	{
	color: #0188CC;
	cursor: pointer;
	font-size: 12px;
	line-height: 17px;
	text-decoration: none;
}

.select-tips {
	background-color: #FEFECC;
	border: 1px solid #EEEE99;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	font-family: Arial;
	padding: 4px 8px;
	position: absolute;
	width: 220px;
	z-index: 99;
	font: 12px/1.5 tahoma, arial, 宋体;
	color: #4D4D4D;
}

.angle-right {
	background-position: 0 0;
	height: 13px;
	position: absolute;
	width: 7px;
	z-index: 1;
	right: -7px;
}

.angle-down {
	background-position: 0 0;
	height: 7px;
	position: absolute;
	width: 15px;
	z-index: 1;
	right: 7px;
}

.angle-top {
	background-position: 0 0;
	height: 13px;
	position: absolute;
	width: 15px;
	z-index: 1;
	right: -7px;
}

.dc-scene-title {
	font-size: 32px;
	color: #0066ff;
}

.dc-scene-desc {
	color: #666666;
}

.dc-item-desc {
	width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.err-icon {
	background-position: -128px -418px;
	width: 16px;
	height: 16px;
}

.ok-icon {

}

.memo-icon {
	cursor: pointer;
	background-position: -350px -350px;
	width: 14px;
	height: 14px;
}

.memo-icon-active {
	background-position: 0 0;
}

.clock-icon {
	cursor: pointer;
	background-position: -550px -550px;
	width: 14px;
	height: 14px;
}

.clock-icon-active {
	background-position: -500px -500px;
}

.money-icon {
	cursor: pointer;
	background-position: -600px -600px;
	width: 14px;
	height: 14px;
}

.money-icon-active {
	background-position: -400px -400px;
}

.info-icon {
	cursor: pointer;
	width: 14px;
	height: 14px;
	background-position: -750px -750px;	
}

.info-icon-active {
	background-position: -300px -300px;	
}

.person-icon {
	cursor: pointer;
	background-position: -650px -650px;
	width: 14px;
	height: 14px;
}

.person-icon-active {
	background-position: -150px -150px;
}

.close-icon {
	cursor: pointer;
	background-position: -700px -700px;
	width: 14px;
	height: 14px;
}

.close-icon-active {
	background-position: -50px -50px;
}

.delete-icon {
	cursor: pointer;
	width: 14px;
	height: 14px;
}

.delete-icon-active {
	background-position: -100px -100px;
}

.wangwang-icon {
	cursor: pointer;
	background-position: -250px -250px;
	width: 14px;
	height: 14px;
}

.start-icon {
	background-position: -600px -600px;
	height: 14px;
	width: 14px;
	
}

.end-icon {
	background-position: -650px -650px;
	height: 14px;
	width: 14px;
}

.parent-icon {
	background-position: 0 -570px;
	height: 12px;
	width: 12px;
}

.order-icon {
	background-position: 0 -600px;
	height: 12px;
	width: 12px;
}

.code-icon {
	background-position: 0 -630px;
	height: 12px;
	width: 12px;
}

.wangwang-icon-active {
	background-position: -200px -200px;
}

.location-icon {
	width: 16px;
	height: 16px;
	background-position: -225px 0;
}

.bops .other {
	color: #999;
}





.icon-pull-down,.icon-pull-up {
	background-image: url(../../image/updown.png);
	background-repeat: no-repeat;
	background-color: transparent;
	display: inline-block;
}


.icon-pull-down {
	background-position: 3px -33px;
	width: 14px;
}

.icon-pull-up {
	background-position: 3px -13px;
	width: 14px;
}

form label.error {
    margin-left: 5px;
	color: red;
	font-weight: bold;
}

.pic-upload-layer {
    position: absolute;
    width: 380px;
	background-color: #fff;
	border: 3px solid #ddd;
	border-radius: 4px;
	z-index: 999;
}

.pic-upload-layer .header {
    height: 30px;
	width: 100%;
	background-color: #eee;
	line-height: 30px;
	font-weight: bold;
	position: relative;
}

.pic-upload-layer .header .close-btn {
	right: 5px;
	top: 5px;
}

.pic-upload-layer .content {
    padding: 5px 10px;
}

.pic-upload-layer .content .tip {
    margin-bottom: 10px;
}
.pic-upload-layer .content .error {
    color: red;
}

.pic-upload-layer .content .url-pic {
    padding-top: 10px;
	padding-bottom: 20px;
}

.pic-upload-layer .content .local-pic {
    border-top: 1px solid #999;
    padding-top: 10px;
	padding-bottom: 20px;
}

.pic-upload-layer .content input[type="text"],
.pic-upload-layer .content input[type="file"] {
    padding: 2px 4px;
	width: 290px;
}

.pic-upload-layer .content .confirm-btn {
    padding: 5px 7px;
	letter-spacing: 4px;
	margin-left: 0px;
}

.pic-detail-box {
    float:left ;
	width: 340px;
	min-height: 400px;
	overflow: hidden;
}

.pic-detail-box .top-box {
    display: table;
}

.pic-detail-box .picture {
	width: 298px;
	height: 298px;
	overflow: hidden;
	border: 1px solid #999999;
	text-align: center;
}

.pic-detail-box .picture img {
    max-width: 300px;
	max-height: 300px;
	vertical-align: middle;
}

.pic-detail-box .sum-pics .nav {
	color: #666;
	border-bottom: 1px dotted #f9f9f9;
	clear: both;
	margin-top: 10px;
}

.pic-detail-box .sum-pics .split {
	border-top: 1px dotted #ddd;
	width: 100% ;
	margin: 10px 0;
	height: 1px;
	overflow: hidden ;
}

.pic-detail-box .sum-pics ul {
	height: 70px;
}

.pic-detail-box .sum-pics li {
    float: left;
    display: inline;
	border: 1px solid #e9e9e9;
	margin: 5px;
	background-color: #f9f9f9;
	position: relative;
}

.pic-detail-box .sum-pics li a {
	width: 60px;
	height: 60px;
	display: inline-block;
	overflow: hidden;
}

.pic-detail-box .sum-pics li a.del-icon {
    position: absolute;
	top: 0px;
	right: 0px;
    background: url(../../image/del-icon.png) no-repeat scroll 0 0;
	display: inline-block;
	width: 15px;
	height: 15px;
}

.pic-detail-box .sum-pics li a.del-icon:hover {
    background-position: -19px 0px;
}

.pic-detail-box .sum-pics .active {
    border: 1px solid red;
}

.pic-detail-box .sum-pics li a img {
    width: 60px;
	height: 60px;
	overflow: hidden;
}

.pic-detail-box .sum-pics .add-pic {
	background-image: url(../../image/add.png);
	background-repeat: no-repeat;
	background-color: transparent;
	display: inline-block;
	width: 60px;
	height: 60px;
}

.text-ellipsis {
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.close-btn {
    position: absolute;
	width: 20px;
	height: 20px;
	background: url(../../image/close20x20.png) no-repeat scroll 0 0;
}

.bops .settleipt {
	border-top:1px solid #aaa;
	border-bottom:1px solid #aaa; 
	padding: 10px 0 10px 0 ;
}

.bops .settleipt .other-option {
	font-size: 12px ;
	border-top: 1px dotted #999 ;
	margin: 10px 20px 0 20px ;
	padding: 10px 0 0 0 ;
}

.bops .search-form .search-line {
    padding: 5px 10px;
}

.bops .search-form input[type="submit"] {
    padding: 4px 6px;
	letter-spacing: 4px;
	height: 30px;
	font-weight: bold;
	margin-left: 20px;
}

.bops .search-form .search-div {
    margin-right: 20px;
}

.bops .search-form .search-div .lbl {
    font-size: 14px;
}

.bops .search-form .search-div input[type='text']{
    padding: 2px 4px;
}

.bops .search-form .search-div .dateIpt {
    width: 150px;
}

/**
.bops select, .bops option {
    padding: 3px 6px;
}
**/

.bops table tr.even {
    background-color: #f7fcf5;
}

.dbsort_asc,.dbsort_desc,.dbsort_none {
	background-image: url(../../image/icons.png);
	background-repeat: no-repeat;
	background-color: transparent;
	display: inline-block;
}

.dbsort_desc {
	background-position: -8px -2081px;
	height: 12px;
	width: 12px;
}

.dbsort_asc {
	background-position: -8px -2059px;
	height: 12px;
	width: 12px;
}

.dbsort_none {
	background-position: -8px -2037px;
	height: 12px;
	width: 12px;
}

th.more {
    position: relative;
}

th.more a.more-icon {
    background: url(../../image/more-icon.gif) no-repeat scroll 0 0;
	width: 30px;
	height: 10px;
	display: inline-block;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

td .detail-layer {
    position: absolute;
	z-index: 999;
	background-color: #e1e1e1;
	border: 1px solid #999;
	padding: 5px 8px;
	border-radius: 3px 3px;
	left: 0px;
	top: 0px;
	width: 200px;
}

.app-recommend-list .intro {
	
}

.main-box .content-box {
	float: left;
	width: 560px;
	min-height: 400px;
}

.bops .user-list .delete {
	color: #999 ;
}

.bops .user-list .delete-tip {
	color: #FF4444 ;
}

.bops .user-follow-list .location-icon {
	margin-bottom: -3px;
}

.bops .device-push {
	margin: 30px 0 0 30px;	
}

.bops .device-push .option {
	border: 1px solid #bbb ;
	width: 500px;
	padding: 20px;
}

.bops .device-push .submit input {
	margin-top: 20px;
}

.bops .device-push .expect {
	color: #666;
	font-size: 12px;
	margin: 5px 0 5px 10px;
}

.bops .device-push .detail {
	color: #aaa;
	font-size: 12px;
	margin: 5px 0 5px 10px;
	border-top : 1px dotted #eee;  
}