/code/biz/common/.classpath
/code/biz/common/.project
/code/biz/common/.settings
/code/biz/common/target
/code/biz/core/.classpath
/code/biz/core/.project
/code/biz/core/.settings
/code/biz/core/target
/code/bundle/war/.classpath
/code/bundle/war/.project
/code/bundle/war/.settings
/code/bundle/war/target
/code/deploy/.classpath
/code/deploy/.project
/code/deploy/.settings
/code/deploy/target
/code/task/.project
/code/task/.settings
/code/task/target
/code/task/.classpath
/code/templates/.classpath
/code/templates/.project
/code/templates/.settings
/code/templates/target
/code/web/bops/.project
/code/web/bops/.settings
/code/web/bops/target
/code/web/bops/.classpath
/code/web/common/.classpath
/code/web/common/.project
/code/web/common/.settings
/code/web/common/target
/code/web/chao/.settings
/code/web/chao/target
/code/web/chao/.classpath
/code/web/chao/.project
/code/bundle/rpm/.classpath
/code/bundle/rpm/.project
/code/bundle/rpm/.settings
