#set($bopsCss=["activity.css"])
#set($layout="bops/default_bops.vm")
#set($navigation = "#if($!activity.id)修改#else新增#end活动")

<input type="hidden"  id="bopsRoot" value="${env.bopsRoot}"/>
<input type="hidden"  id="bopsPage" value="activity"/>
<input type="hidden"  id="pictureRoot" value="${env.pictureRoot}"/>

<div class="bops">
    <div class="main-box">
    	#parse("/common/bops/pic_upload_layer.vm")
    	<form id="activityForm" method="post" action="${env.bopsRoot}/bops/add_activity.htm">
    		<input type="hidden" name="id" value="$!activity.id" />
		    <div class="activity-box">
			    #set($picName1='活动图片')
			    #set($picFieldName1='picUrlList')
			    #set($picModelList1=$!activity.picModelList)
			    #set($picName2='展位图片')
			    #set($picFieldName2='standPicUrlList')
			    #set($picModelList2=$!activity.standPicModelList)
			    #parse("/common/bops/pic_detail_box.vm")
				<div class="content-box" style="">
				    <ul>
				    	<li class="">
							<span class="lbl" style="">名称：</span>
							<div class="dd-l">
								<input class="name width3" type="text" name="name" value="$!activity.name"/>
							</div>
						</li>
						<li class="">
							<span class="lbl" style="">地点：</span>
							<div class="dd-l">
								<input class="location width3" type="text" name="location" value="$!activity.location"/>
							</div>
						</li>
						<li class="">
							<div class="left-div dd-l">
								<span class="lbl">专题：</span>
								<div class="dd-l">
									<select name="subjectId" data-subject-id="$!activity.subjectId" data-init="n"></select>
								</div>
							</div>
							<div>
								<span class="lbl" style="">能否报名：</span>
								<div class="dd-l">
									<select class="can-signup width1"name="canSignup">
                                        <option value="N">不能</option>
										<option value="Y" #if($!activity.canSignup=='Y')selected#end>能</option>
                                    </select>
								</div>
							</div>
						</li>
						<li>
							<span class="lbl" style="">时间：</span>
							<input class="gmt-activity width1" type="text" name="gmtActivityStart" value="$!dateUtils.format($!activity.gmtActivityStart,'yyyy-MM-dd')" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
							- 
							<input class="gmt-activity width1" type="text" name="gmtActivityEnd" value="$!dateUtils.format($!activity.gmtActivityEnd,'yyyy-MM-dd')" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
							#if($fieldErrors.containsKey('gmtActivity'))
							<div class="dc-red">&nbsp;&nbsp;&nbsp;* 开始时间必须小于结束时间</div>
							#end
							
						</li>
						<li class="">
							<div class="left-div dd-l">
								<span class="lbl">联系人：</span>
								<div class="dd-l">
									<input class="contact-name width2" type="text" name="contactName" value="$!activity.contactName"/>
								</div>
							</div>
							<div>
								<span class="lbl" style="">联系电话：</span>
								<div class="dd-l">
									<input class="contact-phone width1" type="text" name="contactPhone" value="$!activity.contactPhone"/>
								</div>
							</div>
						</li>
						<li class="">
							<span class="lbl">活动介绍：</span>
							<div class="dd-l">
								<textarea name="intro"/>$!activity.intro</textarea>
							</div>
						</li>
						<li class="">
							<span class="lbl">参展须知：</span>
							<div class="dd-l">
								<textarea class="notice" name="notice"/>$!activity.notice</textarea>
							</div>
						</li>
						<li class="">
							<span class="lbl">温馨提示：</span>
							<div class="dd-l">
								<textarea class="countesy-reminder" name="countesyReminder"/>$!activity.countesyReminder</textarea>
							</div>
						</li>
					</ul>
					<div class="btn-box">
						<input type="submit" value="提交"/>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

#set($bopsJs=["../../js/lib/jquery.form.js", "../../js/lib/jquery.validate.min.js", "activity.js"])
