#set($bopsCss=["activityList.css"])
#set($layout="bops/default_bops.vm")

#set($navigation = "分类列表")

<input type="hidden"  id="bopsRoot" value="${env.bopsRoot}"/>
<input type="hidden"  id="bopsPage" value="activityList"/>

<style>
	th a {
		text-decoration:none;
		color:#000 ;
	}
</style>

#set($gmtActivityStartFmt = $!dateUtils.format($!gmtActivityStart,'yyyy-MM-dd'))
#set($gmtActivityEndFmt = $!dateUtils.format($!gmtActivityEnd,'yyyy-MM-dd'))

#set($pagination = $activityResult.pagination)

#set($searchUrl = ${env.bopsRoot}+"/bops/activity_list.htm?")
#set($searchQuery = ["id:$!id","keyword:$!keyword","subjectId:$!subjectId","gmtActivityStart:$!gmtActivityStartFmt",
               "gmtActivityEnd:$!gmtActivityEndFmt","sortColumn:$!sortColumn","order:$!order"])

<div class="bops">
    <div style="MT20 MB20">&nbsp;</div>
    
	<form action="${env.bopsRoot}/bops/activity_list.htm" method="GET">
		<div class="settleipt MB10 MT10">
			<span class="search-div">
				<span class="lbl">活动ID： </span>
				<input  type="text" class="id" name="id" value="$!id" />
			</span>
			<span class="search-div">
				<span class="lbl">关键字：</span>
				<input  type="text" name="keyword" value="$!keyword" />&nbsp;&nbsp;
			</span>
	        <br />
			<div id="settleIptMore" class="settleIptMore">
				<span class="search-div">
					<span class="lbl">时间：</span>
					<input type="text" class="dateIpt" name="gmtActivityStart" value="$!gmtActivityStartFmt" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"/> - 
					<input type="text" class="dateIpt" name="gmtActivityEnd" value="$!gmtActivityEndFmt" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
                </span>
			    <input type="submit" value="查询" style="padding: 3px 4px;"/>
			</div>
		</div>
	</form>
	
	<div class="MB20 MT20"><a href="${env.bopsRoot}/bops/activity.htm" target="_blank">新增活动</a></div>
	
	#if($!order == 'DESC')
		#set($tempOrder = 'ASC')
	#else
	    #set($tempOrder = 'DESC')
	#end
	 #parse("/common/bops/page/activityPagination.vm")
	 <table width="1080" style="font-size:14px;" id="activityTable">
		<tr>
			<th width="40">ID</th>
    		<th width="220">
    			<a class="sort-btn" href="${env.bopsRoot}/bops/activity_list.htm?sortColumn=GMT_MODIFIED&order=$tempOrder&id=$!id&keyword=$!keyword&subjectId=$!subjectId&gmtActivityStart=$!gmtActivityStartFmt&gmtActivityEnd=$!gmtActivityEndFmt">
    				<span>活动名称<span class="split">|</span>修改时间<span>
    			    <span class="dbsort_none"></span>
    			</a>
    		</th>
    		<th width="60">活动图片</th>
    		<th width="60">展位图片</th>
			<th width="80">
				<a class="sort-btn" href="${env.bopsRoot}/bops/activity_list.htm?sortColumn=GMT_ACTIVITY&order=$tempOrder&id=$!id&keyword=$!keyword&subjectId=$!subjectId&gmtActivityStart=$!gmtActivityStartFmt&gmtActivityEnd=$!gmtActivityEndFmt">
				    <span>活动时间</span>
    			    <span class="dbsort_none"></span>
				</a>
			</th>
            <th width="80">地点</th>
			<th width="80">联系人</th>
			<th width="80">联系电话</th>
			<th width="80">专题</th>
			<th width="60">
				<a class="sort-btn" href="${env.bopsRoot}/bops/activity_list.htm?sortColumn=FOLLOW_COUNT&order=$tempOrder&id=$!id&keyword=$!keyword&subjectId=$!subjectId&gmtActivityStart=$!gmtActivityStartFmt&gmtActivityEnd=$!gmtActivityEndFmt">
					<span>关注</span>
	    			<span class="dbsort_none"></span>
	    		</a>
			</th>
			<th width="60">
				<a class="sort-btn" href="${env.bopsRoot}/bops/activity_list.htm?sortColumn=COMMENT_COUNT&order=$tempOrder&id=$!id&keyword=$!keyword&subjectId=$!subjectId&gmtActivityStart=$!gmtActivityStartFmt&gmtActivityEnd=$!gmtActivityEndFmt">
					<span>评论</span>
	    			<span class="dbsort_none"></span>
	    		</a>
            </th>
			<th width="40">操作</th>
    	</tr>
		#if($!activityResult.totalRecords > 0)
    		#foreach($activity in $!activityResult.items)
            	<tr class="#if($velocityCount%2 == 0)even#end" data-id="$!activity.id">
					<td align="center">$!activity.id</td>
					<td class="more">
						<div class="name text-ellipsis content-detail" data-content="$!activity.name"><a href="${env.bopsRoot}/bops/activity.htm?id=$!activity.id" target="_blank" style="text-decoration: underline; color:#444;">$!activity.name</a></div>
						<div class="other" style="margin-top: 3px">
							<span>$!dateUtils.format($!activity.gmtModified,'yyyy-MM-dd HH:mm')</span>
						</div>
					</td>
					<td align="center">
            		    <div class="pic-url">
            		    	#if(!$collectionUtils.isEmpty($!activity.picModelList))
            		    		<img src="$!activity.picModelList[0].getSum('80x80')" width="50" height="50"/>
	    		            #end
	    		        </div>
            		</td>
            		<td align="center">
            		    <div class="pic-url">
            		    	#if(!$collectionUtils.isEmpty($!activity.standPicUrlList))
            		    		<img src="$!activity.standPicModelList[0].getSum('80x80')" width="50" height="50"/>
	    		            #end
	    		        </div>
            		</td>
            		<td align="center">
            		    <div class="gmt-activity">$!dateUtils.format($!activity.gmtActivity,'yyyy-MM-dd')</div>
            		</td>
            		<td class="more">
            		    <div class="location text-ellipsis content-detail" detail-content="$!activity.location">$!activity.location</div>
            		</td>
            		<td align="center">$!activity.contactName</td>
            		<td align="center">$!activity.contactPhone</td>
            		<td class="">
            		    <div class="subject text-ellipsis" data-subject-id="$!activity.subjectId" data-init="n">$!activity.subjectId</div>
            		</td>
            		<td align="center">$!activity.followCount</td>
            		<td align="center">$!activity.commentCount</td>
					<td align="center">
						<a class="delete-btn" href="javascript:;" title="删除">删除</a>
					</td>
            	</tr>
    		#end
		#else
            <tr><td colspan="15">没有查询到记录</td></tr>
		#end
     </table>
     #parse("/common/bops/page/activityPagination.vm")
</div>
<script>
#set($bopsJs=["activityList.js"])
!(function($){
	
})(jQuery);
</script>