#set($bopsCss=["subject.css"])
#set($layout="bops/default_bops.vm")
#set($navigation = "#if($!recommend.id)修改#else新增#end应用推荐")

<input type="hidden"  id="bopsRoot" value="${env.bopsRoot}"/>
<input type="hidden"  id="bopsPage" value="appRecommend"/>
<input type="hidden"  id="pictureRoot" value="${env.pictureRoot}"/>

<div class="bops">
    <div class="main-box">
    	#parse("/common/bops/pic_upload_layer.vm")
    	<form id="appRecommendForm" method="post" action="${env.bopsRoot}/bops/do_add_app_recommend.htm" onSubmit="return Validator.validate(this,'bops');">
    		<input type="hidden" name="id" value="$!recommend.id" />
		    <div class="subject-box">
		    	
			    #set($picFieldName1='logoUrl')
			    #set($picModelList1=$collectionUtils.wrapperToList($!recommend.logoUrlModel))
			    #parse("/common/bops/pic_detail_box.vm")
				
				<div class="content-box">
				    <ul class="prop-list">
						<li>
							<span class="lbl" style="">应用名称：</span>
							<div class="dd-l">
								<input class="name width3" type="text" name="appName" value="$!recommend.appName"/>
							</div>
						</li>
						<li>
							<span class="lbl" style="">安卓市场：</span>
							<div class="dd-l"><input class="webUrl width3" type="text" name="androidStoreUrl" value="$!recommend.androidStoreUrl"/></div>
						</li>
						<li>
							<span class="lbl" style="">ios商店：</span>
							<div class="dd-l"><input class="webUrl width3" type="text" name="iosStoreUrl" value="$!recommend.iosStoreUrl"/></div>
						</li>
						<li>
							<span class="lbl" style="">WP商店：</span>
							<div class="dd-l"><input class="webUrl width3" type="text" name="wpStoreUrl" value="$!recommend.wpStoreUrl"/></div>
						</li>
						<li>
							<span class="lbl" style="">介绍：</span>
							<div class="dd-l"><textarea name="intro"/>$!recommend.intro</textarea></div>
						</li>
					</ul>
					<div class="btn-box">
						<input type="submit" value="提交"/>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

#set($bopsJs=["../../js/lib/jquery.form.js", "../../js/lib/jquery.validate.min.js"])
