#set($bopsCss=["bannerList.css"])
#set($layout="bops/default_bops.vm")

#set($navigation = "Banner列表")

<input type="hidden"  id="bopsRoot" value="${env.bopsRoot}"/>
<input type="hidden"  id="bopsPage" value="bannerList"/>

<style>
	th a {
		text-decoration:none;
		color:#000 ;
	}
	#bannerTable .name-box {
	    width: 150px;
	}
	#bannerTable .pic-box img {
	    max-width: 200px;
	}
	#bannerTable .url-box {
	    width: 150px;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}
	#bannerTable .memo-box {
	    height: 60px;
	    line-height: 20px;
	    overflow: hidden;
		text-align: left;
	}
	#bannerTable .btn-list li {
	    padding: 5px 5px;
	}
</style>

#set($gmtCreateStartFmt = $!dateUtils.format($!gmtCreateStart,'yyyy-MM-dd'))
#set($gmtCreateEndFmt = $!dateUtils.format($!gmtCreateEnd,'yyyy-MM-dd'))

#set($pagination = $bannerResult.pagination)

#set($searchUrl = ${env.bopsRoot}+"/bops/banner_list.htm?")
#set($searchQuery = ["bannerId:$!bannerId","status:$!status","gmtCreateStart:$!gmtCreateStartFmt","gmtCreateEnd:$!gmtCreateEndFmt"])


<div class="bops">
    <div style="MT20 MB20">&nbsp;</div>
	
	<div class="MB20 MT20"><a href="${env.bopsRoot}/bops/banner.htm" target="_blank">新增Banner</a></div>
	
	#parse("/common/bops/page/bannerPagination.vm")
	 <table width="880" id="bannerTable">
		<tr>
			<th width="40">ID</th>
			<th width="120" align="center">BannerId</th>
			<th width="160">名称</th>
			<th width="200">图片</th>
    		<th width="150">URL</th>
			<th width="150">备注</th>
			<th width="60">操作</th>
    	</tr>
		#if($!bannerResult.totalRecords > 0)
    		#foreach($banner in $bannerResult.items)
            	<tr data-id="$!banner.id" class="#if($velocityCount % 2 == 0)even#end">
					<td class="id">$!banner.id</td>
            		<td class="">$!banner.bannerId</td>
                    <td>
						#if($!banner.picModels.size() > 0)
    						<div class="name-box text-ellipsis">$!banner.picModels.get(0).name</div>
						#end
					</td>
                    <td>
						<div class="pic-box">
						    #if($!banner.picModels.size() > 0)
						    	<a #if($!banner.picModels.get(0).clickUrl != '')href="$!banner.picModels.get(0).clickUrl" target="_blank"#else href="javascript:;" #end>
						    		<img src="$!banner.picModels.get(0).picUrl100x000"  max-width="150"/>
						    	</a>
    						#end
						</div>
					</td>
					<td>
						<div class="url-box">
							#if($!banner.picModels.size() > 0)
								#set($clickUrl = $!banner.picModels.get(0).clickUrl)
								#if ($!clickUrl && $!clickUrl != '')
							    	<a href="$!clickUrl" target="_blank">$!clickUrl</a>
						        #else
						            <span>无</span>
						        #end
						    #end
					    </div>
					</td>
					<td align="center">
						<div class="memo-box">$!banner.memo</div>
					</td>
					<td align="center">
						<ul class="btn-list">
						    <li><a href="${env.bopsRoot}/bops/banner.htm?id=$!banner.id" target="_blank">修改</a></li>
    						#if($!banner.status == "D")
    						    <li><a class="delete-btn" href="javascript:;" data-id="$!banner.id" data-status="N">启用</a></li>
    						#else
    						    <li><a class="delete-btn" href="javascript:;" data-id="$!banner.id" data-status="D">删除</a></li>
    						#end
						</ul>
					</td>
            	</tr>
    		#end
		#else
            <tr><td colspan="9">没有查询到记录</td></tr>
		#end
     </table>
	 #parse("/common/bops/page/bannerPagination.vm")
</div>
#BOPS_JS(["bannerList.js"])
<script>
!(function($){
	
})(jQuery);
</script>