#set($bopsCss=["bannerList.css"])
#set($layout="bops/default_bops.vm")

#set($navigation = "Banner列表")

<input type="hidden"  id="bopsRoot" value="${env.bopsRoot}"/>
<input type="hidden"  id="bopsPage" value="bannerList"/>

<style>
	th a {
		text-decoration:none;
		color:#000 ;
	}
	
</style>

#set($pagination = $newsResult.pagination)

#set($searchUrl = ${env.bopsRoot}+"/bops/banner_list.htm?")
#set($searchQuery = [])

<div class="bops">
    <div style="MT20 MB20">&nbsp;</div>
	
	<div class="MB20 MT20"><a href="${env.bopsRoot}/bops/banner.htm" target="_blank">新增Banner</a></div>
	
	#parse("/common/bops/page/bannerPagination.vm")
	 <table width="1080" id="bannerTable">
		<tr>
			<th width="40">ID</th>
			<th width="120" align="center">BannerId</th>
			<th width="400">图片</th>
    		<th width="120">URL</th>
			<th width="100">状态</th>
			<th width="200">备注</th>
			<th width="100">操作</th>
    	</tr>
		#if($!bannerResult.totalRecords > 0)
    		#foreach($banner in $bannerResult.items)
            	<tr data-id="$!banner.id" class="#if($velocityCount % 2 == 0)even#end">
					<td class="id">$!banner.id</td>
            		<td class="">$!banner.bannerId</td>
                    <td>
						<div class="banner-box">
						    #if($!banner.picModels.size() > 0)
						    	<a href="$!banner.picModels.get(0).picUrl" target="_blank">
						    		<img src="$!banner.picModels.get(0).picUrl" />
						    	</a>
    						#end
						</div>
					</td>
					<td>
						<div class="url-box">
							#if($!banner.picModels.size() > 0)
								#set($clickUrl = $!banner.picModels.get(0).clickUrl)
								#if ($!clickUrl && $!clickUrl != '')
							    	<a href="$!clickUrl" target="_blank">$!clickUrl</a>
						        #end
						    #end
					    </div>
					</td>
                    <td align="center">
						<div class="status-box">
							#if($!banner.status == 'D')
								<span>已禁用</span>
								<a href="${env.bopsRoot}/bops/update_banner_status.htm?id=$!banner.id&status=N">启用</a>
							#else
							    <span>已启用</span>
								<a href="${env.bopsRoot}/bops/update_banner_status.htm?id=$!banner.id&status=D">禁用</a>
							#end
						    <div name="categoryId" data-category-id="$!banner.categoryId"></div>
						</div>
					</td>
					<td align="center">
						<div class="memo-box">$!banner.memo</div>
					</td>
					<td align="center">
						<a href="${env.bopsRoot}/bops/banner.htm?id=$!banner.id" target="_blank">修改</a>
					</td>
            	</tr>
    		#end
		#else
            <tr><td colspan="9">没有查询到记录</td></tr>
		#end
     </table>
	 #parse("/common/bops/page/bannerPagination.vm")
</div>
#BOPS_JS(["bannerList.js"])
<script>
!(function($){
	
})(jQuery);
</script>