#set($layout="bops/default_bops.vm")

#set($navigation = "周边文化")

<input type="hidden"  id="bopsRoot" value="${env.bopsRoot}"/>
<input type="hidden"  id="bopsPage" value="cultureList"/>

#set($pagination = $queryResult.pagination)

#set($searchUrl = ${env.bopsRoot}+"/bops/culture_list.htm?")
#set($searchQuery = [""])

<div class="bops">
    <div style="MT20 MB20">&nbsp;</div>
	
	<div class="MB20 MT20"><a href="${env.bopsRoot}/bops/add_culture.htm" target="_blank">新增周边文化</a></div>
	
	#parse("/common/bops/page/culturePagination.vm")
	
	<div class="culture-list">
    	<table width="90">
    		<tr>
    			<th width="40">序号</th>
        		<th width="160">名称</th>
        		<th width="60">图片</th>
    			<th width="400">介绍</th>
				<th width="120">创建时间</th>
    			<th width="100">操作</th>
        	</tr>
    		#if($queryResult.totalRecords > 0)
        		#foreach($item in $!queryResult.items)
					#set($idx = (($page - 1)*$size) + $velocityCount ) 
                	<tr>
    					<td align="center">$!idx</td>
    					<td>#if($item.status == 'D')<span class="dc-red">[已删除]</span>#end<span #if($item.status == 'D')class='dc-light-gray'#end>$!item.name</span></td>
                		<td align="center"><img src="$!item.picModel.getSum('80x80')" alt="$!item.name" width="50" height="50"></td>
						<td><div class="intro">$!item.getIntro(40)</div></td>
						<td align="center">$!dateUtils.format($!item.gmtCreate, 'yyyy-MM-dd HH:mm')</td>
    					<td align="center">
							<a class="" href="${env.bopsRoot}/bops/add_culture.htm?id=$!item.id" title="编辑" target="_blank">编辑</a>
							#if($item.status == 'N')
							<a class="update-culture-status-btn" href="javascript:;" title="删除" data-culture-id="$!item.id" data-to-status='D'>删除</a>
							#else
							<a class="update-culture-status-btn" href="javascript:;" title="恢复" data-culture-id="$!item.id" data-to-status='N'>恢复</a>
							#end
    					</td>
                	</tr>
        		#end
    		#else
                <tr><td colspan="15" align="center">没有查询到记录</td></tr>
    		#end
         </table>
	</div>
	
	#parse("/common/bops/page/culturePagination.vm")
	
</div>
<script>
!(function($){
	
})(jQuery);
</script>