#set($layout="bops/default_bops.vm")

#set($navigation = "index")

<input type="hidden"  id="bopsRoot" value="${env.bopsRoot}"/>
<input type="hidden"  id="bopsPage" value="index"/>

<div class="bops">
    <h1>欢迎使用 Back Office Process System!</h1>
</div>
