#set($bopsCss=["newsList.css"])
#set($layout="bops/default_bops.vm")

#set($navigation = "新闻列表")

<input type="hidden"  id="ddzBopsRoot" value="${env.bopsRoot}"/>
<input type="hidden"  id="ddzBopsPage" value="newsList"/>

<style>
	th a {
		text-decoration:none;
		color:#000 ;
	}
	
</style>

#set($gmtPublishStartFmt = $!dateUtils.format($!gmtPublishStart,'yyyy-MM-dd'))
#set($gmtPublishEndFmt = $!dateUtils.format($!gmtPublishEnd,'yyyy-MM-dd'))

#set($pagination = $newsResult.pagination)

#set($searchUrl = ${env.bopsRoot}+"/bops/news_list.htm?")
#set($searchQuery = ["id:$!id","categoryId:$!categoryId","keyword:$!keyword","isTop:$!isTop","gmtPublishStart:$!gmtPublishStartFmt","gmtPublishEnd:$!gmtPublishEndFmt","order:$!order","orderColumn:$!orderColumn"])

<div class="bops">
    <div style="MT20 MB20">&nbsp;</div>
		
	<form action="${env.bopsRoot}/bops/news_list.htm" method="GET" class="search-form">
		<div class="settleipt MB10 MT10">
			<div class="search-line">
				<span class="search-div">
					<span class="lbl">新闻ID：</span>
				    <input  type="text" class="item-id-search" name="id" value="$!id" />
				</span>
				<span class="search-div">
				    <span class="lbl">关键字：</span>
				    <input type="text" name="keyword" value="$!keyword" />
				</span>
				<span class="search-div">
				    <span class="lbl">置顶：</span>
					<select name="isTop">
			            <option value="">全部</option>
						<option value="Y" #if($!isTop == "Y") selected #end>置顶</option>
						<option value="N" #if($!isTop == "N") selected #end>普通</option>
			        </select>
			    </span>
		    </div>
			<div id="settleIptMore" class="search-line">
				<span class="search-div">
				    <span class="lbl">发布时间：</span>
					<input type="text" id="gmtPublishStart" name="gmtPublishStart" class="dateIpt" value="$!gmtPublishStart"/> - 
					<input type="text" id="gmtPublishEnd" name="gmtPublishEnd"class="dateIpt" value="$!gmtPublishEnd"/>
                </span>
                ##<span class="search-div">
				##    <span class="lbl">创建时间：</span>
				##	<input type="text" id="gmtCreateStart" name="gmtCreateStart" class="dateIpt" value="$!gmtCreateStartFormat"/> - 
				##	<input type="text" id="gmtCreateEnd" name="gmtCreateEnd"class="dateIpt" value="$!gmtCreateEndFormat"/>
                ##</span>
                <input type="submit" value="查询" />
			</div>
			
		</div>
	</form>
	
	<div class="MB20 MT20"><a href="${env.bopsRoot}/bops/news.htm" target="_blank">新增新闻</a></div>
	
	#if($!order == 'DESC')
		#set($tempOrder = 'ASC')
	#else
	    #set($tempOrder = 'DESC')
	#end
	
	#parse("/common/bops/page/newsPagination.vm")
	 <table width="1100" id="newsTable">
		<tr>
			<th width="40">ID</th>
			<th width="200" align="center">
				<a class="sort-btn" href="${env.bopsRoot}/bops/news_list.htm?orderColumn=GMT_CREATE&order=$tempOrder&id=$!id&keyword=$!keyword&categoryId=$!categoryId&gmtPublishStart=$!gmtPublishStartFmt&gmtPublishEnd=$!gmtPublishEndFmt">
					<span>标题|备注</span>
					<span class="dbsort_none"></span>
				</a>
			</th>
			<th width="240">正文</th>
    		<th width="70">新闻图片</th>
			<th width="80">分类</th>
			<th width="40">
				<a class="sort-btn" href="${env.bopsRoot}/bops/news_list.htm?orderColumn=IS_TOP&order=$tempOrder&id=$!id&keyword=$!keyword&categoryId=$!categoryId&gmtPublishStart=$!gmtPublishStartFmt&gmtPublishEnd=$!gmtPublishEndFmt">
				    <span>置顶</span>
				    <span class="dbsort_none"></span>
				</a>
			</th>
			<th width="110">
				<a class="sort-btn" href="${env.bopsRoot}/bops/news_list.htm?orderColumn=GMT_PUBLISH&order=$tempOrder&id=$!id&keyword=$!keyword&categoryId=$!categoryId&gmtPublishStart=$!gmtPublishStartFmt&gmtPublishEnd=$!gmtPublishEndFmt">
				    <span>发布时间</span>
				    <span class="dbsort_none"></span>
				</a>
			<th width="110">
				<a class="sort-btn" href="${env.bopsRoot}/bops/news_list.htm?orderColumn=GMT_MODIFIED&order=$tempOrder&id=$!id&keyword=$!keyword&categoryId=$!categoryId&gmtPublishStart=$!gmtPublishStartFmt&gmtPublishEnd=$!gmtPublishEndFmt">
				    <span>修改时间</span>
				    <span class="dbsort_none"></span>
				</a>
		    </th>
			<th width="100">操作</th>
    	</tr>
		#if($!newsResult.totalRecords > 0)
    		#foreach($news in $newsResult.items)
            	<tr data-id="$!news.id" class="#if($velocityCount % 2 == 0)even#end">
					<td class="id">$!news.id</td>
            		<td class="">
            		    <div class="title text-ellipsis">
            		    	<a href="${env.bopsRoot}/bops/news.htm?id=$!news.id" target="_blank">$!news.title</a>
            		    </div>
            		    <div class="other"><span class="gmt-create">$!dateUtils.format($!news.gmtCreate, 'yyyy-MM-dd HH:mm')</span></div>
            		</td>
                    <td>
						<div class="content text-ellipsis" detail-content="$!news.content">$!news.content</div>
					</td>
					<td>
					    <div class="pic">
					    	#if (!$collectionUtils.isEmpty($!news.picModelList))
					        	<img src="$!news.picModelList[0].sum100x000" alt="详情图片" width="60" height="60" />
        					#end
    					</div>
					</td>
                    <td align="center">
						<div class="category-box">
						    <div name="categoryId" data-category-id="$!news.categoryId"></div>
						</div>
					</td>
					<td align="center">
						<select name="isTop">
							<option value="N" selected>普通</option>
							<option value="Y" #if($!news.isTop == 'Y')selected#end>置顶</option>
						</select>
					</td>
					<td align="center">
						<div class="gmt-publish">$!dateUtils.format($!news.gmtPublish, 'yyyy-MM-dd')</div>
					</td>
					<td align="center">
						<div class="gmt-modified">$!dateUtils.format($!news.gmtModified, 'yyyy-MM-dd HH:mm')</div>
					</td>
					<td>
						<ul></ul>
					</td>
            	</tr>
    		#end
		#else
            <tr><td colspan="9">没有查询到记录</td></tr>
		#end
     </table>
	 #parse("/common/bops/page/newsPagination.vm")
</div>
#BOPS_JS(["newsList.js"])
<script>
!(function($){
	
})(jQuery);
</script>