#set($bopsCss=["newsList.css"])
#set($layout="bops/default_bops.vm")

#set($navigation = "新闻列表")

<input type="hidden"  id="ddzBopsRoot" value="${env.bopsRoot}"/>
<input type="hidden"  id="ddzBopsPage" value="newsList"/>

<style>
	th a {
		text-decoration:none;
		color:#000 ;
	}
	
</style>

#set($gmtPublishStartFmt = $!dateUtils.format($!gmtPublishStart,'yyyy-MM-dd'))
#set($gmtPublishEndFmt = $!dateUtils.format($!gmtPublishEnd,'yyyy-MM-dd'))

#set($pagination = $newsResult.pagination)

#set($searchUrl = ${env.bopsRoot}+"/bops/news_list.htm?")
#set($searchQuery = ["newsId:$!newsId","categoryId:$!categoryId","keyword:$!keyword","status:$!status","gmtPublishStart:$!gmtPublishStart","gmtPublishEnd:$!gmtPublishEnd"])

<div class="bops">
    <div style="MT20 MB20">&nbsp;</div>
		
	<form action="${env.bopsRoot}/bops/news_list.htm" method="GET">
		<div class="settleipt MB10 MT10">
			新闻ID： <input  type="text" class="item-id-search" name="newsId" value="$!newsId" />&nbsp;&nbsp;
			关键字：<input  type="text" name="keyword" value="$!keyword" />&nbsp;&nbsp;
			新闻状态：
			<select name="status">
	            <option value="">全部</option>
				<option value="N" #if($!status == "N") selected #end>有效</option>
				<option value="D" #if($!status == "D") selected #end>无效</option>
	        </select>
	        <br />
			<div id="settleIptMore" class="settleIptMore">
				<span>发布时间： 
					<input type="text" id="gmtPublishStart" name="gmtPublishStart" class="dateIpt" value="$!gmtPublishStart"/> - 
					<input type="text" id="gmtPublishEnd" name="gmtPublishEnd"class="dateIpt" value="$!gmtPublishEnd"/>
                </span>
                <span>创建时间： 
					<input type="text" id="gmtCreateStart" name="gmtCreateStart" class="dateIpt" value="$!gmtCreateStartFormat"/> - 
					<input type="text" id="gmtCreateEnd" name="gmtCreateEnd"class="dateIpt" value="$!gmtCreateEndFormat"/>
                </span>
                <input type="submit" value="查询" />[<a href="javascript:;" id="settleIptMoreBtn" style="font-size:12px;">更多查询条件</a>]
			</div>
			
		</div>
	</form>
	
	<div class="MB20 MT20"><a href="${env.bopsRoot}/bops/news.htm" target="_blank">新增新闻</a></div>
	
	#parse("/common/bops/page/newsPagination.vm")
	 
	 <table width="1100" id="newsTable">
		<tr>
			<th width="40">ID</th>
			<th width="200" align="center">标题|备注</th>
			<th width="240">正文</th>
    		<th width="70">详情图片</th>
			<th width="80">分类</th>
			<th width="40">状态</th>
			<th width="110">发布时间</th>
			<th width="110">修改时间</th>
			<th width="100">操作</th>
    	</tr>
		#if($!newsResult.totalRecords > 0)
    		#foreach($news in $newsResult.items)
            	<tr data-id="$!news.id" class="#if($velocityCount % 2 == 0)even#end">
					<td class="id">$!news.id</td>
            		<td class="">
            		    <div class="title text-ellipsis">
            		    	<a href="${env.bopsRoot}/bops/news.htm?id=$!news.id" target="_blank">$!news.title</a>
            		    </div>
            		    <div class="other"><span class="gmt-create">$!dateUtils.format($!news.gmtCreate, 'yyyy-MM-dd HH:mm')</span></div>
            		</td>
                    <td>
						<div class="content text-ellipsis" detail-content="$!news.content">$!news.content</div>
					</td>
					<td>
					    <div class="pic pic-box">
					    	#if ($!collectionUtils.isEmpty($!new.picUrlList))
					        	<img src="${env.pictureRoot}$!new.picUrlList[0]" alt="详情图片" width="60" height="60" />
        					#end
    					</div>
					</td>
                    <td align="center">
						<div class="category-box">
						    <div name="categoryId" data-category-id="$!news.categoryId"></div>
						</div>
					</td>
					<td align="center">
						#if($!news.status == 'D')
							<span>无效<a class="enable-btn" href="javascript:;" title="有效"></a>
						#else
						    <span>有效<a class="disable-btn" href="javascript:;" title="无效"></a>
						#end
					</td>
					<td align="center">
						<div class="gmt-publish">$!dateUtils.format($!new.gmtPublish, 'yyyy-MM-dd')</div>
					</td>
					<td align="center">
						<div class="gmt-modified">$!dateUtils.format($!new.gmtModified, 'yyyy-MM-dd HH:mm')</div>
					</td>
					<td>
						<ul></ul>
					</td>
            	</tr>
    		#end
		#else
            <tr><td colspan="6">没有查询到记录</td></tr>
		#end
     </table>
	 #parse("/common/bops/page/newsPagination.vm")
</div>
#BOPS_JS(["newsList.js"])
<script>
!(function($){
	
})(jQuery);
</script>