#set($bopsCss=["news.css"])
#set($layout="bops/default_bops.vm")
#set($navigation = "news")

<input type="hidden"  id="bopsRoot" value="${env.bopsRoot}"/>
<input type="hidden"  id="bopsPage" value="news"/>
<input type="hidden"  id="pictureRoot" value="${env.pictureRoot}"/>

<div class="bops">
    <div class="main-box">
    	<div id="pictureUploadLayer" class="pic-upload-layer dd-hide">
		    <div class="wrap">
			    <div class="header" style="">
				    <span>上传图片</span>
					<a class="colse-btn" href="javascript:;"></a>
				</div>
				<div class="content">
					<form id="urlPicUploadForm" method="post" action="${env.bopsRoot}/bops/upload_local_picture.htm" enctype="multipart/form-data">
						<div class="url-pic" style="">
						    <div><span>网络图片上传</span></div>
							<input type="text" name="pictureUrl"/>
							<input type="submit" value="提交"/>
						</div>
					</form>
				</div>
			</div>
		</div>
    	<form id="newsForm" method="post" action="${env.bopsRoot}/bops/add_news.htm">
		    <div class="news-box">
			    <div class="pic-box">
				    <div class="top-box dd-l">
					    <div class="picture dd-l">
					    	#if ($collectionUtils.isEmpty($news.summaryPicUrls))
					    		#if (!$collectionUtils.isEmpty($news.detailPicUrls))
						            <img src="${env.pictureRoot}$news.detailPicUrls[0]" max-width="300" max-height="300"/>
						        #end
						    #else
						        <img src="${env.pictureRoot}$!news.summaryPicUrls[0]" max-width="300" max-height="300"/>
						    #end
						</div>
						<ul class="detail-pics pictures dd-l">
							#if(!$collectionUtils.isEmpty($news.detailPicUrls))
								#foreach($picUrl in $news.detailPicUrls)
							        <li class="#if($collectionUtils.isEmpty($news.summaryPicUrls) && $velocityCount == 1)active#end">
							        	<a class="small-picture" href="javascript:;"></a>
							        	<input type="hidden" name="detailPicUrls" value="$picUrl"/>
							        </li>
							    #end
							#end
							<li class=""><a class="add-picture-btn" href="javascript:;" title="新增详情图片"></a></li>
						</ul>
					</div>
					<div class="bottom-box dd-l">
					    <ul class="summary-pics pictures dd-l" style="">
							#if(!$collectionUtils.isEmpty($news.summaryPicUrls))
								#foreach($picUrl in $news.summaryPicUrls)
							        <li class="#if($velocityCount == 1)active#end">
							        	<a class="small-picture" href="javascript:;"></a>
							        	<input type="hidden" name="detailPicUrls" value="$picUrl"/>
							        </li>
							    #end
							#end
							<li class=""><a class="add-picture-btn" href="java.javascript:;" title="新增 概要图片"></a></li>
						</ul>
					</div>
				</div>
				<div class="content-box" style="">
				    <ul>
						<li class="">
							<div class="left-div dd-l">
								<span class="lbl" style="">名称：</span>
								<div class="dd-l">
									<input type="text" name="title" value="$!news.title"/>
								</div>
							</div>
						</li>
						<li class="">
						    <div class="left-div dd-l">
								<span class="lbl">分类：</span>
								<div class="dd-l">
									<select name="categoryId" data-category-id="$!news.categoryId">
									    <option value="">未知</option>
									</select>
								</div>
							</div>
							<div>
								<span class="lbl" style="">发布时间：</span>
								<div class="dd-l">
									<input class="dateIpt" type="text" name="gmtPublish" value="$!news.gmtPublish" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
								</div>
							</div>
						</li>
						<li class="">
							<span class="lbl">正文链接：</span>
							<div class="dd-l">
								<input type="text" name="sourceUrl" value="$!news.sourceUrl"/>
							</div>
						</li>
						<li class="">
							<span class="lbl">摘要：</span>
							<div class="dd-l">
								<textarea name="summary"/>$!news.summary</textarea>
							</div>
						</li>
						<li class="dd-l">
							<input type="submit" value="提交"/>
						</li>
					</ul>
				</div>
			</div>
		</form>
	</div>
</div>

#set($bopsJs=["../js/lib/jquery.form.js", "news.js"])
