#set($bopsCss=["news.css"])
#set($layout="bops/default_bops.vm")
#set($navigation = "#if($!news.id)修改#else新增#end新闻")

<input type="hidden"  id="bopsRoot" value="${env.bopsRoot}"/>
<input type="hidden"  id="bopsPage" value="news"/>
<input type="hidden"  id="pictureRoot" value="${env.pictureRoot}"/>

<div class="bops">
    <div class="main-box">
    	#parse("/common/bops/pic_upload_layer.vm")
    	<form id="newsForm" method="post" action="${env.bopsRoot}/bops/add_news.htm">
    		<input type="hidden" name="id" value="$!news.id" />
		    <div class="news-box">
			    
			    #set($picFieldName1='picUrlList')
			    #set($picModelList1=$!news.picModelList)
			    #parse("/common/bops/pic_detail_box.vm")
				
				<div class="content-box" style="">
				    <ul>
						<li class="">
							<span class="lbl" style="">名称：</span>
							<div class="dd-l">
								<input type="text" class="name width3" name="title" value="$!news.title"/>
							</div>
						</li>
						<li class="">
						    <div class="left-div dd-l">
								<span class="lbl">分类：</span>
								<div class="dd-l">
									<select class="category-id width2" name="categoryId" data-category-id="$!news.categoryId">
									</select>
								</div>
							</div>
							<div class="dd-l">
								<span class="lbl" style="">发布时间：</span>
								<div class="dd-l">
									<input class="gmt-publish width1" type="text" name="gmtPublish" value="$!dateUtils.format($!news.gmtPublish, 'yyyy-MM-dd')" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
								</div>
							</div>
						</li>
						<li class="">
							<div class="left-div dd-l">
								<span class="lbl">来源：</span>
								<div class="dd-l">
									<input class="source width2" type="text" name="source" value="$!news.source"/>
								</div>
							</div>
							<div class="dd-l">
								<span class="lbl" style="">是否置顶：</span>
								<div class="dd-l">
									<select name="isTop" class="">
										<option value="N" selected>否</option>
										<option value="Y" #if($!news.isTop == 'Y')selected#end>是</option>
									</select>
								</div>
							</div>
						</li>
						<li class="">
							<span class="lbl">正文：</span>
							<div class="dd-l">
								<textarea name="content"/>$!news.content</textarea>
							</div>
						</li>
					</ul>
					<div class="btn-box dd-l">
						<input type="submit" value="提交"/>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

#set($bopsJs=["../../js/lib/jquery.form.js", "../../js/lib/jquery.validate.min.js", "news.js"])
