#set($bopsCss=["newsCategoryList.css"])
#set($layout="bops/default_bops.vm")

#set($navigation = "新闻分类列表")

<input type="hidden"  id="bopsRoot" value="${env.bopsRoot}"/>
<input type="hidden"  id="bopsPage" value="categoryList"/>

<style>
	th a {
		text-decoration:none;
		color:#000 ;
	}
</style>

#set($pagination = $categoryResult.pagination)

#set($searchUrl = ${env.bopsRoot}+"/bops/category_list.htm?")
#set($searchQuery = ["status:$!status"])

<div class="bops">
    <div style="MT20 MB20">&nbsp;</div>
	##<form action="${env.bopsRoot}/bops/news_category_list.htm" method="get">
	##	<div class="settleipt MB10 MT10">
	##		<div class="search-line">
	##			<span class="lbl">分类名称：</span>
	##	    	<input type="text" name="name" style="width: 200px; line-height: 20px; padding: 3px 5px;"/>
	##	    </div>
	##	    <input type="submit" name="查询" style="width: 60px; line-height: 20px; padding: 3px 5px;" />
	##	</div>
	##</form>
	
	<div class="category-box">
		<a class="add-category" href="${env.bopsRoot}/bops/news_category.htm" title="新增新闻分类">新增新闻分类</a>
	</div>
	 
	 <table width="340" style="font-size:14px;" id="categoryTable">
		<tr>
			<th width="40">ID</th>
    		<th width="120">名称</th>
    		<th width="60">状态</th>
			<th width="140">创建时间</th>
    	</tr>
		#if($!categoryResult.totalRecords > 0)
    		#foreach($category in $!categoryResult.items)
            	<tr data-id="$!category.id">
					<td class="id">$!category.id</td>
					<td>
						<div class="name"><a href="${env.bopsRoot}/bops/news_category.htm?id=$!category.id">$!category.catName</a></div>
					</td>
            		<td class="">
            		    <select name="status">
            		    	<option value="E">有效</option>
            		    	<option value="D" #if($!category.status == 'D')selected#end>无效</option>
    		            </select>
            		</td>
					<td align="center">
						$!dateUtils.format($!category.gmtCreate, 'yyyy-MM-dd HH:mm:ss')
					</td>
            	</tr>
    		#end
		#else
            <tr><td colspan="3">没有查询到记录</td></tr>
		#end
     </table>
</div>
#BOPS_JS(["newsCategoryList.js"])
<script>
!(function($){
	
})(jQuery);
</script>