#set($bopsCss=["subject.css"])
#set($layout="bops/default_bops.vm")
#set($navigation = "#if($!subject.id)修改#else新增#end专题")

<input type="hidden"  id="bopsRoot" value="${env.bopsRoot}"/>
<input type="hidden"  id="bopsPage" value="subject"/>
<input type="hidden"  id="pictureRoot" value="${env.pictureRoot}"/>

<div class="bops">
    <div class="main-box">
    	#parse("/common/bops/pic_upload_layer.vm")
    	<form id="subjectForm" method="post" action="${env.bopsRoot}/bops/add_subject.htm">
    		<input type="hidden" name="id" value="$!subject.id" />
		    <div class="subject-box">
		    	
			    #set($picFieldName1='picUrlList')
			    #set($picModelList1=$!subject.picModelList)
			    #parse("/common/bops/pic_detail_box.vm")
				
				<div class="content-box" style="">
				    <ul class="prop-list">
						<li class="">
							<span class="lbl" style="">名称：</span>
							<div class="dd-l">
								<input class="name width3" type="text" name="name" value="$!subject.name"/>
							</div>
						</li>
						<li class="">
							<span class="lbl" style="">网页地址：</span>
							<div class="dd-l">
								<input class="webUrl width3" type="text" name="webUrl" value="$!subject.webUrl"/>
							</div>
						</li>
					</ul>
					<div class="btn-box">
						<input type="submit" value="提交"/>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

#set($bopsJs=["../../js/lib/jquery.form.js", "../../js/lib/jquery.validate.min.js", "subject.js"])
