#set($bopsCss=["subjectList.css"])
#set($layout="bops/default_bops.vm")

#set($navigation = "专题列表")

<input type="hidden"  id="ddzBopsRoot" value="${env.bopsRoot}"/>
<input type="hidden"  id="ddzBopsPage" value="subjectList"/>

<style>
	th a {
		text-decoration:none;
		color:#000 ;
	}
</style>

#set($pagination = $subjectResult.pagination)

#set($searchUrl = ${env.bopsRoot}+"/bops/subject_list.htm?")
#set($searchQuery = ["id:$!id","status:$!status"])

<div class="bops">
    <div style="MT20 MB20">&nbsp;</div>
    
	<form action="${env.bopsRoot}/bops/subject_list.htm" method="GET">
		<div class="settleipt MB10 MT10">
			<span>ID：</span>
			<input type="text" name="id" value="$!id"/>
			<input type="submit" value="查询" />
		</div>
	</form>
	
	<div class="MB20 MT20"><a href="${env.bopsRoot}/bops/subject.htm" target="_blank">新增专题</a></div>
	
	#parse("/common/bops/page/subjectPagination.vm")
    <table width="980" style="font-size:14px;" id="subjectTable">
		<tr>
			<th width="60">ID</th>
    		<th width="280">名称</th>
			<th width="70" align="center">示意图</th>
			<th width="280">网页地址</th>
			<th width="100">创建时间</th>
			<th width="100">操作</th>
    	</tr>
		#if($!subjectResult.totalRecords > 0)
    		#foreach($subject in $!subjectResult.items)
            	<tr data-index="$!subject.id">
					<td align="center">$!subject.id</td>
					<td>
						<div class="name text-ellipsis"><a href="${env.bopsRoot}/bops/subject.htm?id=$!subject.id" target="_blank">$!subject.name</a></div>
						<div class="other" style="margin-top: 3px">
							<span>$!dateUtils.format($!subject.gmtCreate,'yyyy-MM-dd HH:mm')</span>
						</div>
					</td>
            		<td align="center">
            		    #if(!$collectionUtils.isEmpty($!subject.picModelList))
            		    	<img src="$!subject.picModelList[0].getSum('80x80')" width="50" height="50"/>
    		            #end
            		</td>
            		<td>
            			<div class="web-url text-ellipsis"><a href="$!subject.webUrl" target="_blank">$!subject.webUrl</a></div>
		            </td>
					<td align="center">
						$!dateUtils.format($!subject.gmtCreate, 'yyyy-MM-dd HH:mm:ss')
					</td>
					<td align="center">
						<a class="delete-btn" href="javascript:;" title="禁用">禁用</a>
					</td>
            	</tr>
    		#end
		#else
            <tr><td colspan="6">没有查询到记录</td></tr>
		#end
     </table>
     #parse("/common/bops/page/subjectPagination.vm")
</div>
<script>
#set($bopsJs=["subjectList.js"])
!(function($){
	
})(jQuery);
</script>