#set($layout="bops/default_bops.vm")

#set($navigation = "图说")

<style>
	.content {
		text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        width: 300px;
        overflow: hidden;
	}
</style>

<input type="hidden"  id="bopsRoot" value="${env.bopsRoot}"/>
<input type="hidden"  id="bopsPage" value="tushuoList"/>

#set($pagination = $queryResult.pagination)

#set($searchUrl = ${env.bopsRoot}+"/bops/tushuo_list.htm?")
#set($searchQuery = [""])

<div class="bops">
    <div style="MT20 MB20">&nbsp;</div>
	
	<div class="MB20 MT20"><a href="${env.bopsRoot}/bops/add_tushuo.htm" target="_blank">新增图说</a></div>
	
	#parse("/common/bops/page/defaultPagination.vm")
	
	<div class="tushuo-list">
    	<table width="980">
    		<tr>
    			<th width="40">序号</th>
        		<th width="100">名称</th>
        		<th width="100">图片</th>
    			<th width="80">分类</th>
				<th width="300">正文</th>
				<th width="100">创建时间</th>
    			<th width="80">操作</th>
        	</tr>
    		#if($queryResult.totalRecords > 0)
        		#foreach($item in $!queryResult.items)
					#set($idx = (($page - 1)*$size) + $velocityCount ) 
                	<tr>
    					<td align="center">$!idx</td>
						<td>$!item.name</td>
    					<td align="center"><img src="$!item.picModel.getSum('80x80')" alt="$!item.name" class="logo" width="50" height="50"></td>
                		<td align="center"><div class="category">$!item.category</div></td>
						<td><div class="content">$!item.getContent(60)</div></td>
						<td align="center">$!dateUtils.format($!item.gmtCreate, 'yyyy-MM-dd HH:mm')</td>
    					<td align="center">
							<a class="" href="${env.bopsRoot}/bops/add_tushuo.htm?id=$!item.id" title="编辑" target="_blank">编辑</a>
							<a class="delete-tushuo-btn" href="javascript:;" title="删除" data-recommend-id="$!item.id">删除</a>
    					</td>
                	</tr>
        		#end
    		#else
                <tr><td colspan="15" align="center">没有查询到记录</td></tr>
    		#end
         </table>
	</div>
	
	#parse("/common/bops/page/defaultPagination.vm")
	
</div>
<script>
!(function($){
	
})(jQuery);
</script>