<ul class="left_menu">
    <p><a href="">BOPS管理系统</a></p>
	<li><a href="javascript:">Back office process system</a>
		<ul>
			#** 
    		<li id="news_list"><a href="${env.bopsRoot}/bops/news_list.htm" >新闻管理</a></li>
			<li id="category_list"><a href="${env.bopsRoot}/bops/category_list.htm" >新闻分类管理</a></li>
			**#
			<li id="activity_list"><a href="${env.bopsRoot}/bops/activity_list.htm" >活动管理</a></li>
			<li id="subject_list"><a href="${env.bopsRoot}/bops/subject_list.htm" >专题管理</a></li>
    	</ul>
    </li>
</ul>
